- require_once __DIR__ . '/../../config.php'
- $currentApp = 'metaviews'
!!!
%html
  %head
    - include '../_head.php'
    %title Metaviews Analysis
  %body(class="clearfix #{$rtl} #{$currentApp}")
    %div.text-center.site-notice-wrapper
      %div.site-notice
        - include '../_browser_check.php'

    - include '../_header.php'

    %main.col-lg-8.col-lg-offset-2
      / Site notice
      %div.text-center.site-notice-wrapper
        %div.site-notice
          - include '../_browser_check.php'

      %div.row.aqs-row.options
        / Date range selector
        %div.col-lg-5.col-sm-5
          %label(for="range-input")
            = $I18N->msg( 'dates' )
          %span.date-latest
            :php
              $days = array(10, 20, 30, 60, 90);
              $dayLinks = '';
              foreach ( $days as $day ) {
                $dayLinks .= " <a data-value='{$day}' href='#'>{$day}</a>";
              }
            = $I18N->msg( 'latest-days', array( 'variables' => array( $dayLinks ) ) )
          %input.form-control.date-range-selector#range-input

      / Tool selector
      %div.row.aqs-row
        %div.col-lg-12
          %label(for="tool-input")
            Tools
          %select.col-lg-12.invisible#select2-input(multiple="multiple")

      - include '../_data_links.php'

      / Chart
      %div.chart-container
        %canvas#chart

      %div.message-container.col-lg-12

      %div.output.col-lg-10.col-lg-offset-1
        %h4.single-page-stats.text-center
        %div.single-page-legend.hidden-lg.col-md-4.col-md-offset-4.tm

        %table.table.table-hover.table-view
          %thead.table-view--header
            %tr
              %th
              %th(class="table-view--title")
                %span(class="sort-link sort-link--title" data-type="title")
                  Application
                  %span.glyphicon.glyphicon-sort
              %th(class="table-view--pageloads")
                %span(class="sort-link sort-link--pageloads" data-type="pageloads")
                  Page loads
                  %span.glyphicon.glyphicon-sort
              %th(class="table-view--average")
                %span(class="sort-link sort-link--average" data-type="average")
                  = $I18N->msg( 'daily-average' )
                  %span.glyphicon.glyphicon-sort
          %tbody.output-list

    %div.modal.fade#project-list-modal(role="dialog" tabindex="-1")
      %div.modal-dialog(role="document")
        %div.modal-content
          %div.modal-header
            %button.close(arialabel="Close" data-dismiss="modal" type="button")
              %span(aria-hidden="true") &times;
            %h4.modal-title
          %div.modal-body
            %table.table.table-hover
              %thead.project-table-view--header
                %tr
                  %th(class="project-table-view--rank") Rank
                  %th(class="project-table-view--title") Project
                  %th(class="project-table-view--pageloads") Page loads
              %tbody.project-output-list

    - include '../_footer.php'

    - include '../_modals.php'
