- require_once __DIR__ . '/../../../config.php'
- $currentApp = 'massviews'
- $appSuffix .= '/faq'
!!!
%html
  %head
    - include '../../_head.php'
    %title
      = $I18N->msg( 'massviews-title' ) . ' - ' . $I18N->msg( 'faq' )
  %body(class="#{$rtl}")
    - $currentApp = 'massviews'
    - include '../../_header.php'

    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'massviews-title' )
          %small.app-description
            = $I18N->msg( 'faq' )

      %main.col-lg-10.col-lg-offset-1
        %ul.list-group
          %li.list-group-item(id="sources")
            %p
              %strong= $I18N->msg( 'faq-massviews-sources-title' )
            %ul.faq-ul
              %li
                - $categoryLink = "<a href='https://en.wikipedia.org/wiki/Category:Folk_musicians_from_New_York'>https://en.wikipedia.org/wiki/Category:Folk_musicians_from_New_York</a>"
                %i= $I18N->msg( 'category' )
                &mdash;
                = $I18N->msg( 'massviews-category-description', [ 'variables' => [ "<a target='_blank' href='https://www.mediawiki.org/wiki/Special:MyLanguage/Help:Categories'>" . strtolower( $I18N->msg( 'category' ) ) . "</a>" ] ] ) . '.'
                = $I18N->msg( 'faq-massviews-sources-category', [ 'variables' => [ $categoryLink ] ] )
              %li
                - $wikilinksLink = "<a href='https://en.wikipedia.org/wiki/Book:New_York_City' target='_blank'>https://en.wikipedia.org/wiki/Book:New_York_City</a>"
                %i= $I18N->msg( 'wikilinks' )
                &mdash;
                = $I18N->msg( 'massviews-wikilinks-description', [ 'variables' => [ 'https://www.mediawiki.org/wiki/Special:MyLanguage/Help:Wikilinks' ] ] ) . '.'
                = $I18N->msg( 'faq-massviews-sources-wikilinks', [ 'variables' => [ $wikilinksLink ] ] )
              %li
                - $pagePileLink = "<a href='//tools.wmflabs.org/pagepile' target='_blank'>Page Pile</a>"
                %i Page Pile
                &mdash;
                = $I18N->msg( 'massviews-pagepile-description', [ 'variables' => [ "<a target='_blank' href='//tools.wmflabs.org/pagepile'>PagePile</a>" ] ] ) . '.'
                = $I18N->msg( 'faq-massviews-sources-pagepile', [ 'variables' => [ $pagePileLink ] ] )
              %li
                - $subpagesLink = "<a href='https://en.wikipedia.org/wiki/User:Jimbo_Wales'>https://en.wikipedia.org/wiki/User:Example</a>"
                %i= $I18N->msg( 'subpages' )
                &mdash;
                = $I18N->msg( 'massviews-subpages-description', [ 'variables' => [ "<a target='_blank' href='https://www.mediawiki.org/wiki/Special:MyLanguage/Help:Subpages'>" . strtolower( $I18N->msg( 'subpages' ) . "</a>" ) ] ] ) . '.'
                = $I18N->msg( 'faq-massviews-sources-subpages', [ 'variables' => [ $subpagesLink ] ] )
              %li
                - $templateLink = "<a href='https://en.wikipedia.org/wiki/Template:Infobox_Olympic_games'>https://en.wikipedia.org/wiki/Template:Infobox_Olympic_games</a>"
                %i= $I18N->msg( 'transclusions' )
                &mdash;
                = $I18N->msg( 'massviews-transclusions-description', [ 'variables' => [ 'https://www.mediawiki.org/wiki/Special:MyLanguage/Help:Transclusion' ] ] ) . '.'
                = $I18N->msg( 'faq-massviews-sources-template', [ 'variables' => [ $templateLink ] ] )
              %li
                - $linkSearchLink = "<a href='https://en.wikipedia.org/wiki/Special:LinkSearch/*.nycgo.com'>*.nycgo.com</a>"
                - $docLink = "<a target='_blank' href='https://www.mediawiki.org/wiki/Help:Links#External_links'>" . strtolower( $I18N->msg( 'external-link' ) ) . "</a>"
                - $linkSearchDocLink = "<a target='_blank' href='https://www.mediawiki.org/wiki/Special:MyLanguage/Help:Linksearch'>" . $I18N->msg( 'documentation' ) . "</a>"
                %i= $I18N->msg( 'external-link' )
                &mdash;
                = $I18N->msg( 'massviews-external-link-description', [ 'variables' => [ $docLink ] ] ) . '.'
                = $I18N->msg( 'faq-massviews-sources-external-link', [ 'variables' => [ $linkSearchLink, $linkSearchDocLink ] ] )
              %li
                - $hashtagCredits = $I18N->msg( 'hashtag-credits', [ 'variables' => [ "<a target='_blank' href='//tools.wmflabs.org/hashtags'>Wikipedia social search</a>" ] ] )
                - $hashtagLink = "<a href='http://tools.wmflabs.org/hashtags/search/100wikidays'>#100wikidays</a>"
                - $infoLink = "<a href='http://tools.wmflabs.org/hashtags/docs'>" . $I18N->msg( 'documentation' ) . "</a>"
                %i= $I18N->msg( 'hashtag' )
                &mdash;
                = $I18N->msg( 'massviews-hashtag-description', [ 'variables' => [ $hashtagCredits, "<a target='_blank' href='//tools.wmflabs.org/hashtags/docs'>" . strtolower( $I18N->msg( 'hashtag' ) ) . "</a>" ] ] ) . '.'
                = $I18N->msg( 'faq-massviews-sources-hashtag', [ 'variables' => [ '<code>#</code>', $hashtagLink, $infoLink ] ] )
              %li
                %i Quarry
                &mdash;
                = $I18N->msg( 'massviews-quarry-description', [ 'variables' => [ "<a target='_blank' href='//quarry.wmflabs.org'>Quarry</a>" ] ] ) . '.'
                = $I18N->msg( 'faq-massviews-sources-quarry', [ 'variables' => [ 'Quarry', 'page_title' ] ] )
              %li
                %i= $I18N->msg( 'search' )
                &mdash;
                = $I18N->msg( 'massviews-search-description', [ 'variables' => [ "<a target='_blank' href='https://www.mediawiki.org/wiki/Help:CirrusSearch'>CirrusSearch</a>" ] ] ) . '.'
                = $I18N->msg( 'faq-massviews-sources-search', [ 'variables' => [ "<a target='_blank' href='https://en.wikipedia.org/w/index.php?search=insource%3A\"UNESCO+Science+Report\"&title=Special:Search'>insource:\"UNESCO Science Report\"</a>" ] ] )
          %li.list-group-item(id="category_subject_toggle")
            %p
              %strong= $I18N->msg( 'faq-massviews-subject-page-title', [ 'variables' => [ $I18N->msg( 'category-subject-toggle' ) ] ] )
            %p
              = $I18N->msg( 'faq-massviews-subject-page-body' )
          - include "../../faq_parts/_old_data.php"
          - include "../../faq_parts/_todays_data.php"
          - include "../../faq_parts/_anomaly.php"
          - include "../../faq_parts/_counts.php"
          - include "../../faq_parts/_date_dot.php"
          - include "../../faq_parts/_agents.php"
          - include "../../faq_parts/_feedback.php"

        %div.col-lg-12.text-center.tm
          %a(href="/massviews")
            = $I18N->msg( 'faq-return-to', [ 'variables' => [ $I18N->msg( 'massviews-title' ) ], 'parsemag' => true ] )

      - include "../../_footer.php"
