!!!
%html
  %head
    - include '../../_head.php'
    %title
      = $I18N->msg( 'massviews-title' ) . ' - ' . $I18N->msg( 'faq' )
  %body
    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'massviews-title' )
          %small.app-description
            = $I18N->msg( 'faq' )

      %main.col-lg-10.col-lg-offset-1
        %ul.list-group
          %li.list-group-item
            %p
              %strong= $I18N->msg( 'faq-throttle-wait-title', array( 'variables' => array( 90 ), 'parsemag' => true ) )
            %p
              = $I18N->msg( 'faq-throttle-wait-body', array( 'variables' => array( 90 ), 'parsemag' => true ) )
          %li.list-group-item(id="sources")
            %p
              %strong= $I18N->msg( 'faq-massviews-sources-title' )
            %ul.faq-ul
              %li
                - $pagePileId = $I18N->msg( 'page-pile-id' )
                - $pagePileLink = "<a href='//tools.wmflabs.org/pagepile' target='_blank'>Page Pile</a>"
                %i= $pagePileId
                = $I18N->msg( 'faq-massviews-sources-pagepile', array( 'variables' => array( $pagePileLink ) ) )
              %li
                - $categoryLink = "<a href='https://en.wikipedia.org/wiki/Category:Folk_musicians_from_New_York'>https://en.wikipedia.org/wiki/Category:Folk_musicians_from_New_York</a>"
                %i= $I18N->msg( 'category-url' )
                = $I18N->msg( 'faq-massviews-sources-category-url', array( 'variables' => array( $categoryLink ) ) )
          %li.list-group-item(id="category_subject_toggle")
            %p
              %strong= $I18N->msg( 'faq-massviews-subject-page-title', array( 'variables' => array( $I18N->msg( 'category-subject-toggle' ) ) ) )
            %p
              = $I18N->msg( 'faq-massviews-subject-page-body' )
          %li.list-group-item
            - $backfillDate = $I18N->msg( 'july' ) . ' 2015'
            %p
              %strong= $I18N->msg( 'faq-old-data-title', array( 'variables' => array( $backfillDate ) ) )
            %p
              = $I18N->msg( 'faq-old-data-body', array( 'variables' => array( $backfillDate ) ) )
          %li.list-group-item
            %p
              %strong= $I18N->msg( 'faq-todays-date-title' )
            %p
              = $I18N->msg( 'faq-todays-date-body' )
          %li.list-group-item(id="agents")
            %p
              %strong= $I18N->msg( 'faq-agents-title' )
            %ul.faq-ul
              %li
                %i= $I18N->msg( 'user' )
                = $I18N->msg( 'faq-agents-user' )
              %li
                %i= $I18N->msg( 'spider' )
                = $I18N->msg( 'faq-agents-spider' )
              %li
                %i= $I18N->msg( 'bot' )
                = $I18N->msg( 'faq-agents-bot' )
          %li.list-group-item
            %p
              %strong= $I18N->msg( 'faq-bug-report-title' )
            %p
              = $I18N->msg( 'faq-bug-report-body' )

        %div.col-lg-12.text-center.tm
          %a(href="/massviews")
            = $I18N->msg( 'faq-return-to', array( 'variables' => array( $I18N->msg( 'massviews-title' ) ), 'parsemag' => true ) )

        - $currentApp = "massviews";
        - include "../../_footer.php"
