/ Massviews Analysis tool
/ Copyright 2016 MusikAnimal
!!!
%html
  %head
    - include '../_head.php'
    %title= $I18N->msg( 'massviews-title' )
  %body
    %div.container
      %header.col-lg-10.col-lg-offset-1.aqs-row.text-center
        %h4
          %strong
            = $I18N->msg( 'massviews-title' )
          %small.app-description
            Import a list of pages and analyze the pageviews

      %main.col-lg-10.col-lg-offset-1
        / Site notice
        %div.text-center.site-notice-wrapper
          %div.site-notice
            - include "../_browser_check.php"

        %form#massviews_form
          %div.row.aqs-row.options
            / Date range selector
            %div.col-lg-4.col-sm-4
              %label(for="range_input")
                = $I18N->msg( 'dates' )
              %input.form-control.aqs-date-range-selector#range_input

            / Advanced options
            %div.col-lg-4.col-sm-4
              %label(for="platform_select")
                = $I18N->msg( 'platform' )
              %select.form-control#platform_select
                %option(value="all-access")
                  = $I18N->msg( 'all' )
                %option(value="desktop")
                  = $I18N->msg( 'desktop' )
                %option(value="mobile-app")
                  = $I18N->msg( 'mobile-app' )
                %option(value="mobile-web")
                  = $I18N->msg( 'mobile-web' )

            %div.col-lg-4.col-sm-4
              %label(for="agent_select")
                = $I18N->msg( 'agent' )
              %select.form-control#agent_select
                %option(value="all-agents")
                  = $I18N->msg( 'all' )
                %option(selected="selected" value="user")
                  = $I18N->msg( 'user' )
                %option(value="spider")
                  = $I18N->msg( 'spider' )
                %option(value="bot")
                  = $I18N->msg( 'bot' )

          / Page Pile input
          %div.row.aqs-row
            %div.col-lg-12
              %label(for="source_input")
                Page Pile ID
              %div.input-group
                / FIXME: this is temporary, should be using the button
                %input#source_button(type="hidden" data-value="pagepile")
                / %div.input-group-btn
                /   %button.btn.btn-default.dropdown-toggle#source_button(data-value="pagepile" data-toggle="dropdown" aria-haspopup="true" aria-expand="false")
                /     Page Pile ID
                /     %span.caret
                /   %ul.dropdown-menu
                /     %li
                /       %a(href="#") Page Pile ID
                /     %li
                /       %a(href="#") Category URL
                %input.form-control.source-input#source_input(type="number" min="0" placeholder="12345" required="required" autocomplete="off")
                %span.input-group-btn
                  %button.btn.btn-primary.pull-right
                    = $I18N->msg( 'submit' )

        %div.col-lg-5.col-sm-8.center-block.progress-bar--wrapper
          %div.progress
            %div.progress-bar.progress-bar-striped.active(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%")
        %div.throttle-notice.text-center
          %b= strtoupper( $I18N->msg( 'note' ) ) . ':'
          = $I18N->msg( 'langviews-throttle-notice', array( 'variables' => array( '<a href="https://phabricator.wikimedia.org/T124314" target="_blank">phab:T124314</a>' ) ) )

        %output(form="massview_form")
          %header.output-header
            %strong.another-query
              %span.glyphicon.glyphicon-chevron-left
              = $I18N->msg( 'another-query' )
            %h2.tm
              %a.massviews-input-name(target="_blank")
              %small.massviews-params

          %table.table.table-hover.output-table
            %thead
              %tr
                %th #
                %th
                  %span.sort-link.sort-link--title(data-type='title')
                    = $I18N->msg( 'page-title' )
                    %span.glyphicon.glyphicon-sort
                %th
                  %span.sort-link.sort-link--views(data-type='views')
                    = $I18N->msg( 'pageviews' )
                    %span.glyphicon.glyphicon-sort
                %th
                  %span
                    = $I18N->msg( 'average' )
              %tr.output-totals
            %tbody#mass_list

        %div.col-lg-12
          %div.message-container

        / Other links
        %div.data-links.row.tm
          %div.col-lg-12

        - $currentApp = "massviews"
        - $columns = 12
        - include "../_footer.php"
