/ Massviews Analysis tool
/ Copyright 2016 MusikAnimal
!!!
%html
  %head
    - include '../_head.php'
    %title= $I18N->msg( 'massviews-title' )
  %body
    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'massviews-title' )
          %small.app-description
            = $I18N->msg( 'massviews-description' )

      %main.col-lg-10.col-lg-offset-1
        / Site notice
        %div.text-center.site-notice-wrapper
          %div.site-notice
            - include "../_browser_check.php"

        %form#massviews_form
          %div.row.aqs-row.options
            / Date range selector
            %div.col-lg-4.col-sm-4
              %label(for="range_input")
                = $I18N->msg( 'dates' )
              %input.form-control.aqs-date-range-selector#range_input

            / Advanced options
            %div.col-lg-4.col-sm-4
              %label(for="platform_select")
                = $I18N->msg( 'platform' )
              %select.form-control#platform_select
                %option(value="all-access")
                  = $I18N->msg( 'all' )
                %option(value="desktop")
                  = $I18N->msg( 'desktop' )
                %option(value="mobile-app")
                  = $I18N->msg( 'mobile-app' )
                %option(value="mobile-web")
                  = $I18N->msg( 'mobile-web' )

            %div.col-lg-4.col-sm-4
              %label(for="agent_select")
                = $I18N->msg( 'agent' )
                %a.help-link(href="/massviews/faq#agents")
                  %span.glyphicon.glyphicon-question-sign
              %select.form-control#agent_select
                %option(value="all-agents")
                  = $I18N->msg( 'all' )
                %option(selected="selected" value="user")
                  = $I18N->msg( 'user' )
                %option(value="spider")
                  = $I18N->msg( 'spider' )
                %option(value="bot")
                  = $I18N->msg( 'bot' )

          / Page Pile input
          %div.row.aqs-row
            %div.col-lg-12
              %label(for="source_input")
                = $I18N->msg( 'source' )
                %a.help-link(href="/massviews/faq#sources")
                  %span.glyphicon.glyphicon-question-sign
              %div.checkbox.pull-right.category-subject-toggle
                %label
                  %input.category-subject-toggle--input(type="checkbox")
                    = $I18N->msg( 'category-subject-toggle' )
                  %a.help-link(href="/massviews/faq#category_subject_toggle")
                    %span.glyphicon.glyphicon-question-sign
              %div.input-group.clearfix
                %div.input-group-btn
                  %button.btn.btn-default.dropdown-toggle#source_button(type="button" data-value="category" data-toggle="dropdown" aria-haspopup="true" aria-expand="false")
                    = $I18N->msg( 'category-url' )
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a.source-option(href="#" data-value="category")
                        = $I18N->msg( 'category-url' )
                    %li
                      %a.source-option(href="#" data-value="pagepile")
                        = $I18N->msg( 'page-pile-id' )
                %input.form-control.input-control.source-input#source_input(min="0" required="required")
                %span.input-group-btn
                  %button.btn.btn-primary.pull-right
                    = $I18N->msg( 'submit' )

        %div.col-lg-5.col-sm-8.center-block.progress-bar--wrapper
          %div.progress
            %div.progress-bar.progress-bar-striped.active(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%")

        %output(form="massview_form")
          %header.output-header.clearfix
            %strong.another-query
              %span.glyphicon.glyphicon-chevron-left
              = $I18N->msg( 'another-query' )
            %h2.tm
              %a.massviews-input-name(target="_blank")
              %small.massviews-params

              %span.btn-group.view-options.pull-right
                %button.active.btn.btn-default.view-btn.view-btn--list(type="button" href="#" data-value="list")
                  %span.glyphicon.glyphicon-list.view-options--list
                  List
                %button.btn.btn-default.view-btn.view-btn--chart(type="button" href="#" data-value="chart")
                  %span.glyphicon.glyphicon-chart
                  Chart

          %table.list-view.table.table-hover.output-table
            %thead
              %tr
                %th
                  %span #
                %th
                  %span.sort-link.sort-link--title(data-type='title')
                    = $I18N->msg( 'page-title' )
                    %span.glyphicon.glyphicon-sort
                %th
                  %span.sort-link.sort-link--views(data-type='views')
                    = $I18N->msg( 'pageviews' )
                    %span.glyphicon.glyphicon-sort
                %th
                  %span
                    = $I18N->msg( 'average' )
              %tr.output-totals
            %tbody#mass_list

          %div.chart-view.chart-container
            %canvas.aqs-chart

        %div.message-container.col-lg-12

        %div.col-lg-12.tm.clearfix.chart-view#chart-legend

        / Other links
        %div.col-lg-12.data-links
          %span.chart-view
            %a.js-test-change-chart(data-target="#chart-type-modal" data-toggle="modal" href="#")<
              %span.glyphicon.glyphicon-th
              = $I18N->msg( 'change-chart' )
            &nbsp;&bullet;&nbsp;
            %a.js-test-settings(data-target="#settings-modal" data-toggle="modal" href="#")<
              %span.glyphicon.glyphicon-wrench
              = $I18N->msg( 'settings' )
            &nbsp;&bullet;&nbsp;

          %a.permalink(href="/massviews")<
            %span.glyphicon.glyphicon-link
            = $I18N->msg( 'permalink' )
          &nbsp;&bullet;&nbsp;
          %span.glyphicon.glyphicon-download-alt
          - $csvlink = "<a class='download-csv' href='#'>" . $I18N->msg( 'csv' ) . "</a>"
          = $I18N->msg( 'download', array( 'variables' => array( $csvlink ), 'parsemag' => true ) )
          &middot;
          %a.download-json(href="#")<
            = $I18N->msg( 'json' )

          %time.elapsed-time.pull-right

        - $currentApp = "massviews"
        - include "../_footer.php"

      - include "../_modals.php"
