!!!
%html
  %head
    - include '../../_head.php'
    %title
      = $I18N->msg( 'massviews-title' ) . ' – ' . $I18N->msg( 'url-structure' )
  %body
    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'massviews-title' )
          %small.app-description
            = $I18N->msg( 'url-structure' )

      %main.col-lg-10.col-lg-offset-1
        %div
          - $pagePileExample = "<pre>//tools.wmflabs.org/massviews?source=pagepile&amp;target=12345</pre>"
          - $categoryExample = "<pre>//tools.wmflabs.org/massviews?source=category&amp;target=//en.wikipedia.org/wiki/Category:Folk_musicians_from_New_York</pre>"
          - $wikiCategoryExample = "<pre>//tools.wmflabs.org/massviews?source=category&amp;{{urlencode:{{fullurl}}}}</pre>"
          = $I18N->msg( 'url-structure-massviews-example', array( 'variables' => array( $pagePileExample, $categoryExample, $wikiCategoryExample ), 'parsemag' => true ) )

        %div
          %h3
            = $I18N->msg( 'url-structure-parameters' )
            %small= $I18N->msg( 'url-structure-parameters-order' )
          %hr
          %dl.dl-horizontal
            %dt source
            %dd
              One of <code>pagepile</code> or <code>category</code>
            %dt target
            %dd
              The Page Pile ID, or full URL to a category. If a question mark <code>?</code> is in the URL, it <strong>must be encoded</strong>.
              %br
              For instance, <strong>do not use</strong>:
              <pre>https://en.wikipedia.org/w/index.php?title=Category:Folk_musicians_from_New_York</pre>
              Instead use:
              <pre>https%3A%2F%2Fen.wikipedia.org%2Fw%2Findex.php%3Ftitle%3DCategory%3AFolk_musicians_from_New_York</pre>
              Or you could simply use the shorter wiki URL:
              <pre>//en.wikipedia.org/wiki/Category:Folk_musicians_from_New_York</pre>
            %dt range
            %dd
              = $I18N->msg( 'url-structure-special-range', array( 'variables' => array( '<code>start</code>', '<code>end</code>' ), 'parsemag' => true ) )
              %ul.special-ranges
                %li
                  %code latest
                  = "(" . strtolower( $I18N->msg( 'default' ) ) . ")"
                  = $I18N->msg( 'url-structure-special-range-latest' )
                %li
                  %code latest-<i>N</i>
                  = $I18N->msg( 'url-structure-special-range-latest-n' )
                %li
                  %code last-week
                  = $I18N->msg( 'last-week' )
                %li
                  %code this-month
                  = $I18N->msg( 'this-month' )
                %li
                  %code last-month
                  = $I18N->msg( 'last-month' )
            %dt start
            %dd
              = $I18N->msg( 'url-structure-start-date', array( 'variables' => array( '<code>YYYY-MM-DD</code>', '<code>end</code>' ), 'parsemag' => true ) )
            %dt end
            %dd
              = $I18N->msg( 'url-structure-end-date', array( 'variables' => array( '<code>YYYY-MM-DD</code>' ), 'parsemag' => true ) )
            %dt platform
            %dd
              = $I18N->msg( 'url-structure-platform', array( 'variables' => array( '<code>all-access</code> (' . strtolower( $I18N->msg( 'default' ) ) . ')', '<code>desktop</code>', '<code>mobile-app</code>', '<code>mobile-web</code>' ), 'parsemag' => true ) )
            %dt agent
            %dd
              = $I18N->msg( 'url-structure-agent', array( 'variables' => array( '<code>user</code>', '<code>spider</code>', '<code>bot</code>', '<code>all-agents</code>' ), 'parsemag' => true ) )
            %dt sort
            %dd
              = $I18N->msg( 'url-structure-sort-massviews', array( 'variables' => array( '<code>title</code>', '<code>views</code>' ), 'parsemag' => true ) )
            %dt direction
            %dd
              = $I18N->msg( 'url-structure-sort-direction', array( 'variables' => array( '<code>1</code>', '<code>-1</code>' ), 'parsemag' => true ) )
            %dt view
            %dd
              = $I18N->msg( 'url-structure-view', array( 'variables' => array( '<code>list</code>', '<code>chart</code>' ), 'parsemag' => true ) )
            %dt subjectpage
            %dd
              - $faqLink = "<a href='/massviews/faq#category_subject_toggle'>" . $I18N->msg( 'category-subject-toggle' ) . "</a>"
              = $I18N->msg( 'url-structure-subjectpage', array( 'variables' => array( $faqLink, '<code>1</code>', '<code>0</code>' ), 'parsemag' => true ) )

        %div.col-lg-12.text-center.tm
          %a(href="/massviews")
            = $I18N->msg( 'faq-return-to', array( 'variables' => array( $I18N->msg( 'massviews-title' ) ), 'parsemag' => true ) )

        - $currentApp = "massviews";
        -include "../../_footer.php";
