- require_once __DIR__ . '/../../config.php'
- $currentApp = 'userviews'
!!!
%html
  %head
    - include '../_head.php'
    %title= $I18N->msg( 'userviews-title' )
  %body(class="clearfix #{$rtl} #{$currentApp}")
    - include '../_header.php'

    %main.col-lg-8.col-lg-offset-2
      / Site notice
      %div.text-center.site-notice-wrapper
        %div.site-notice
          - include "../_browser_check.php"

      %form#pv_form
        %div.row.aqs-row.options
          / Date range selector
          %div.col-lg-3.col-sm-4
            %label(for="range-input")
              = $I18N->msg( 'dates' )
            %input.form-control.date-range-selector#range-input

          / Project selector
          %div.col-lg-3.col-sm-3
            %label(for="project-input")
              = $I18N->msg( 'project' )
            %input.form-control#project-input(placeholder="en.wikipedia.org" required="required" spellcheck="false")

          / Advanced options
          %div.col-lg-3.col-sm-3
            %label(for="platform-select")
              = $I18N->msg( 'platform' )
            %select.form-control#platform-select
              %option(value="all-access")
                = $I18N->msg( 'all' )
              %option(value="desktop")
                = $I18N->msg( 'desktop' )
              %option(value="mobile-app")
                = $I18N->msg( 'mobile-app' )
              %option(value="mobile-web")
                = $I18N->msg( 'mobile-web' )

          %div.col-lg-3.col-sm-2
            %label(for="agent-select")
              = $I18N->msg( 'agent' )
              %a.help-link(href="/langviews/faq#agents")
                %span.glyphicon.glyphicon-question-sign
            %select.form-control#agent-select
              %option(value="all-agents")
                = $I18N->msg( 'all' )
              %option(selected="selected" value="user")
                = $I18N->msg( 'user' )
              %option(value="spider")
                = $I18N->msg( 'spider' )

        %div.row.aqs-row
          %div.col-lg-3
            %label(for="namespace-select")
              = $I18N->msg( 'namespace' )
            %select.form-control.clearfix#namespace-select

          %div.col-lg-3
            %label(for="redirects-select")
              = $I18N->msg( 'redirects' )
            %select.form-control.clearfix#redirects-select
              %option(value="0")
                = $I18N->msg( 'exclude-redirects' )
              %option(value="1")
                = $I18N->msg( 'only-redirects' )
              %option(value="2")
                = $I18N->msg( 'redirects-and-non-redirects' )

          %div.col-lg-6
            %label(for="source-input")
              = $I18N->msg( 'user' )
            %div.input-group
              %input.form-control.input-control#source-input(placeholder="Jimbo Wales" required="required" autocomplete="off")
              %span.input-group-btn
                %button.btn.btn-primary.btn-submit.pull-right
                  = $I18N->msg( 'submit' )

        :php
          $columns = array(
            'title' => 'page-title',
            'datestamp' => 'date-created',
            'size' => 'current-size',
            'views' => 'pageviews'
          );
      - include '../_output.php'

    - include '../_footer.php'

    - include '../_modals.php'
