%div.col-lg-12.data-links.invisible
  %div.chart-buttons
    %button.btn.btn-default.btn-sm.btn-chart-type.chart-specific.js-test-change-chart(data-target="#chart-type-modal" data-toggle="modal")<
      %span.glyphicon.glyphicon-th
      = $I18N->msg( 'change-chart' )
    %a.btn.btn-default.btn-sm.permalink(href="")<
      %span.glyphicon.glyphicon-link
      = $I18N->msg( 'permalink' )
    %input.permalink-copy
    %div.btn-group.dropdown.download-btn-group
      %button.btn.btn-default.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        %span.glyphicon.glyphicon-download-alt
        = $I18N->msg( 'download-label' )
        %span.caret
      %ul.dropdown-menu
        %li
          %a.download-csv(href="#")
            = $I18N->msg( 'csv' )
        %li
          %a.download-json(href="#")
            = $I18N->msg( 'json' )
        %li.chart-specific
          %a.download-png(href="#")
            = $I18N->msg( 'png' )
        %li.divider.chart-specific(role="separator")
        %li.chart-specific
          %a.print-chart(href="#")
            %span.glyphicon.glyphicon-print
            = $I18N->msg( 'print' )

  %span.chart-toggles.chart-specific
    %span.pull-right
      %label.logarithmic-scale
        %input#logarithmic-checkbox(type="checkbox")
        = $I18N->msg( 'logarithmic-scale' )

    %span.pull-right
      %label.begin-at-zero
        %input.begin-at-zero-option(type="checkbox")
        = $I18N->msg( 'begin-at-zero' )

    %span.pull-right
      %label.show-labels
        %input.show-labels-option(type="checkbox")
        = $I18N->msg( 'show-values' )
