%div#ad_blocker_notice(style="display:none")
  %div.alert.alert-danger.alert-dismissable
    %button.close(type="button" data-dismiss="alert" aria-label="Close")
      %span(aria-hidden="true")
        &times;

    %div.text-center
      %strong =$I18N->msg( 'adblock-error-title' )
      = $I18N->msg( 'adblock-error-body1' )
      %br
      = $I18N->msg( 'adblock-error-body2' )

%div.spacer

%footer
  %hr

  %span
    - $MusikAnimal = "<a href='https://en.wikipedia.org/wiki/User:MusikAnimal'>MusikAnimal</a>";
    - $Kaldari = "<a href='https://en.wikipedia.org/wiki/User:Kaldari'>Kaldari</a>";
    - $MarcelRuizForns = "<a href='https://en.wikipedia.org/wiki/User:Mforns_(WMF)'>Marcel Ruiz Forns</a>";
    = $I18N->msg( 'credits', [ 'variables' => [ $MusikAnimal, $Kaldari, $MarcelRuizForns ], 'parsemag' => true ] );

  %div
    %span.nowrap
      - $heart = "<span class='heart'>&hearts;</span>";
      - $host = "<a href='https://wikitech.wikimedia.org/wiki/Portal:Tool_Labs'>" . $I18N->msg( 'tool-labs' ) . "</a>";
      = $I18N->msg( 'hosted', [ 'variables' => [ $heart, $host ], 'parsemag' => true ] );
    %span.nowrap
      - $translateWiki = "<a href='https://translatewiki.net/'>translatewiki.net</a>"
      - $jqueryI18n = "<a href='https://github.com/wikimedia/jquery.i18n'>jQuery.i18n</a>"
      - $intuition = "<a href='https://tools.wmflabs.org/intuition/#tab-about'>Intuition</a>"
      = $I18N->msg( 'translation-credits', [ 'variables' => [ $translateWiki, $jqueryI18n, $intuition ], 'parsemag' => true ] )

  %div
    - if ( $currentApp !== 'metaviews' )
      %a(href="/#{$currentApp}/faq")<
        = $I18N->msg( 'faq' )
      &middot;
      %a(href="/#{$currentApp}/url_structure")<
        = $I18N->msg( 'url-structure' )
      &middot;
    %a(href="https://github.com/MusikAnimal/pageviews")<
      = $I18N->msg( 'view-source' )
    &middot;
    %a(href="https://meta.wikimedia.org/wiki/Talk:Pageviews_Analysis")<
      = $I18N->msg( 'report-issue' )

- if ( strpos( $_SERVER['PHP_SELF'], 'faq' ) !== false )
  :javascript
    if (location.hash) $(location.hash).addClass('flash');

:javascript
  if ( !window.noAdBlockers ) {
    var noticeContent = document.getElementById('ad_blocker_notice');
    document.querySelector('.site-header').innerHTML = noticeContent.innerHTML + document.querySelector('.site-header').innerHTML;
  }
