- $isAppPage = strpos( $_SERVER['REQUEST_URI'], '/faq' ) === false && strpos( $_SERVER['REQUEST_URI'], '/url_structure' ) === false

%nav.top-nav.navbar
  %button.navbar-toggle.collapsed.pull-left(data-toggle="collapse" data-target=".interapp-navigation" aria-expanded="false")
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar

  %div.pull-right.nav-buttons
    - if ( $isAppPage )
      %button.btn.btn-default.btn-sm.btn-settings.js-test-settings(data-target="#settings-modal" data-toggle="modal")
        %span.glyphicon.glyphicon-wrench
        = $I18N->msg( 'settings' )

    %div.btn-group.dropdown.help-btn-group
      %button.btn.btn-default.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        %span.glyphicon.glyphicon-question-sign
        = $I18N->msg( 'help' )
        %span.caret
      %ul.dropdown-menu.dropdown-menu-right
        - if ( $currentApp !== 'metaviews' )
          %li
            %a(href="/#{$currentApp}/faq")
              = $I18N->msg( 'faq' )
          %li
            %a(href="/#{$currentApp}/url_structure")
              = $I18N->msg( 'url-structure' )
        %li
          %a(href="https://meta.wikimedia.org/wiki/Pageviews_Analysis")
            = $I18N->msg( 'documentation' )
        %li.divider(role="separator")
        %li
          %a(href="https://meta.wikimedia.org/wiki/Talk:Pageviews_Analysis")
            = $I18N->msg( 'report-issue' )

    %div.btn-group.dropdown.lang-group
      %button.btn.btn-default.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        %svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
          %path(d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z")
        = $currentLang
        %span.caret
      %ul.dropdown-menu.dropdown-menu-right
        %li
          %a(href="https://translatewiki.net/w/i.php?title=Special:MessageGroupStats&group=out-pageviews")
            = $I18N->msg( 'help-translate' )
        %li.divider(role="separator")
        - foreach ($langs as $lang => $langName)
          - if ($lang === 'qqq') continue;
          %li
            %a.lang-link(href="#" data-lang="#{$lang}")= $langName

  %div.navbar-collapse.collapse.interapp-navigation
    %a.home-link.pull-left(href='/pageviews')
    %ol.interapp-links.nav.navbar-nav.navbar-left
      - $apps = [ 'pageviews', 'langviews', 'topviews', 'siteviews', 'massviews', 'redirectviews', 'userviews' ]
      - if ( $rtl === 'rtl' )
        - $apps = array_reverse( $apps )

      - foreach( $apps as $app )
        - $i18nName = $app === 'pageviews' ? '' : $app . '-'

        - if ( $app === $currentApp )
          %li.interapp-links--entry.active(role="presentation")
            %a(class="interapp-link interapp-link--#{$app}" href="/#{$app}")
              = $I18N->msg( $app )
        - else
          %li.interapp-links--entry(role="presentation")
            %a(class="interapp-link interapp-link--#{$app}" href="/#{$app}")
              = $I18N->msg( $app )

      %li.interapp-links--more.dropdown.hidden
        %a.interapp-link.dropdown-toggle(href='#' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
          = $I18N->msg( 'more' )
          %span.caret
        %ul.dropdown-menu

- if ( $isAppPage )
  %header.site-header
    %h4.text-center
      %strong
        - if ( $currentApp === 'pageviews' )
          = $I18N->msg( 'title' )
        - elseif ( $currentApp === 'metaviews' )
          Metaviews Analysis
        - else
          = $I18N->msg( $currentApp . '-title' )
      %small.app-description
        - if ( $currentApp === 'metaviews' )
          Pageviews Analysis of Pageviews Analysis
        - else
          = $I18N->msg( $currentApp. '-description' )
