%div.modal.fade#chart-type-modal(role="dialog" tabindex="-1")
  %div.modal-dialog(role="document")
    %div.modal-content
      %div.modal-header
        %button.close(arialabel="Close" data-dismiss="modal" type="button")
          %span(ariahidden="true") &times;
        %h4.modal-title
          = $I18N->msg( 'chart-types' )

      %div.modal-body
        %div
          %strong.multi-page-chart-node
            = $I18N->msg( 'daily-pageviews' )
          %span.modal-chart-type
            %a.js-test-line-chart(data-dismiss="modal" data-type="line" href="#")
              %img(src="/pageviews/images/line-chart-small.jpg")
              = $I18N->msg( 'line' )
          %span.modal-chart-type
            %a.js-test-bar-chart(data-dismiss="modal" data-type="bar" href="#")
              %img(src="/pageviews/images/bar-chart-small.jpg")
              = $I18N->msg( 'bar' )
          %span.modal-chart-type
            %a(data-dismiss="modal" data-type="radar" href="#")
              %img(src="/pageviews/images/radar-chart-small.jpg")
              = $I18N->msg( 'radar' )

        %div.multi-page-chart-node
          %hr
          %div
            %strong
              = $I18N->msg( 'total-pageviews' )
            %span.modal-chart-type
              %a.js-test-pie-chart(data-dismiss="modal" data-type="pie" href="#")
                %img(src="/pageviews/images/pie-chart-small.jpg")
                = $I18N->msg( 'pie' )
            %span.modal-chart-type
              %a(data-dismiss="modal" data-type="doughnut" href="#")
                %img(src="/pageviews/images/doughnut-chart-small.jpg")
                = $I18N->msg( 'doughnut' )
            %span.modal-chart-type
              %a(data-dismiss="modal" data-type="polarArea" href="#")
                %img(src="/pageviews/images/polararea-chart-small.jpg")
                = $I18N->msg( 'polar-area' )

      %div.modal-footer
        %button.btn.btn-default(data-dismiss="modal" type="button")
          = $I18N->msg( 'cancel' )

%div.modal.fade.settings-modal#settings-modal(role="dialog" tabindex="-1")
  %div.modal-dialog(role="document")
    %div.modal-content
      %div.modal-header
        %button(arialabel="Close" class="close" data-dismiss="modal" type="button")
          %span(ariahidden="true") &times;
        %h4.modal-title
          = $I18N->msg( 'settings' )

      %form.modal-body
        %p
          = $I18N->msg( 'settings-notice' )
        %fieldset.radio-list.search-method-options
          = $I18N->msg( 'search-method' )
          %div.radio
            %label
              %input.js-test-prefixsearch(name="autocomplete" type="radio" value="autocomplete")
              = $I18N->msg( 'autocompletion' );

          %div.radio
            %label
              %input.js-test-opensearch(name="autocomplete" type="radio" value="autocomplete_redirects")
              = $I18N->msg( 'autocompletion-redirects' );

          %div.radio
            %label
              %input(name="autocomplete" type="radio" value="no_autocomplete")
              = $I18N->msg( 'no-autocompletion' )

        %fieldset
          %div.other-options-label
            = $I18N->msg( 'other-options' )
          %div.checkbox
            %label
              %input.js-test-format-numbers(name="numericalFormatting" type="checkbox")
              = $I18N->msg( 'format-numbers' )

          %div.checkbox
            %label
              %input.js-test-localize-dates(name="localizeDateFormat" type="checkbox")
              = $I18N->msg( 'localize-dates' )

          %div.checkbox.chart-specific
            %label
              %input.js-test-bezier-curve(name="autoLogDetection" type="checkbox")
              = $I18N->msg( 'autolog-option' )

          %div.checkbox.chart-specific
            %label
              %input.js-test-bezier-curve(name="beginAtZero" type="checkbox")
              = $I18N->msg( 'begin-at-zero-option' )

          %div.checkbox.chart-specific
            %label
              %input.js-test-bezier-curve(name="rememberChart" type="checkbox")
              = $I18N->msg( 'remember-chart-option' )

          %div.checkbox.chart-specific
            %label
              %input.js-test-bezier-curve(name="bezierCurve" type="checkbox")
              = $I18N->msg( 'bezier-curve-option' )

      %div.modal-footer
        %button.btn.btn-default.cancel-settings-btn(data-dismiss="modal" type="button")
          = $I18N->msg( 'cancel' )
        %button.btn.btn-primary.save-settings-btn(data-dismiss="modal" type="button")
          = $I18N->msg( 'save' )
