#chart-type-modal.modal.fade{role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{"arialabel": "Close", "data-dismiss": "modal", type: "button"}
          %span{"ariahidden": "true"} &times;
        %h4.modal-title Chart types
      .modal-body
        %div
          %strong Articles by daily pageviews
          - ['Line', 'Bar', 'Radar'].each do |type|
            %span.modal-chart-type
              %a{href: "#", "data-type": "#{type}", "data-dismiss": "modal"}
                %img{src: "images/#{type.downcase}-chart-small.jpg"}
                = type
        %hr
        %div
          %strong Articles by total number of pageviews
          - ['Pie', 'Doughnut', 'Polar Area'].each do |type|
            %span.modal-chart-type
              %a{href: "#", "data-type": "#{type.sub(/ /,'')}", "data-dismiss": "modal"}
                %img{src: "images/#{type.downcase.sub(/ /,'')}-chart-small.jpg"}
                = type
      .modal-footer
        %button.btn.btn-default{"data-dismiss": "modal", type: "button"} Cancel

#settings-modal.modal.fade{role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{"arialabel": "Close", "data-dismiss": "modal", type: "button"}
          %span{"ariahidden": "true"} &times;
        %h4.modal-title Settings
      %form.modal-body
        %p
          Your settings will be remembered on the same browser and computer.

        %fieldset.radio-list
          Search method:
          %div.radio
            %label
              %input{type: "radio", name: "autocomplete", value: "autocomplete"}
              Autocompletion (<a href="https://www.mediawiki.org/wiki/API:Prefixsearch" target="_blank">prefixsearch</a>)
          %div.radio
            %label
              %input{type: "radio", name: "autocomplete", value: "autocomplete_redirects"}
              Autocompletion including redirects (<a href="https://www.mediawiki.org/wiki/API:Opensearch" target="_blank">opensearch</a>)
          / %div.radio
          /   %label
          /     %input{type: "radio", name: "autocomplete", value: "no_autocomplete"}
          /     No autocompletion

        %fieldset.radio-list.palette-list
          Color options:

        %fieldset
          Other options:
          %div.checkbox
            %label
              %input{type: "checkbox", name: "numericalFormatting", value: true}
              Format numerical data
          %div.checkbox
            %label
              %input{type: "checkbox", name: "localizeDateFormat", value: true}
              Localize date format
          / %div.checkbox
          /   %label
          /     %input.js-option-canonical-namespace{type: "checkbox"}
          /     Remove canonical namespace from page labels

      .modal-footer
        %button.btn.btn-default.cancel-settings-btn{"data-dismiss": "modal", type: "button"} Cancel
        %button.btn.btn-primary.save-settings-btn{"data-dismiss": "modal", type: "button"} Save
