%div.modal.fade#chart-type-modal(role="dialog" tabindex="-1")
  %div.modal-dialog(role="document")
    %div.modal-content
      %div.modal-header
        %button.close(arialabel="Close" data-dismiss="modal" type="button")
          %span(ariahidden="true") &times;
        %h4.modal-title
          = $I18N->msg( 'chart-types' )

      %div.modal-body
        %div
          %strong
            = $I18N->msg( 'daily-pageviews' )
          %span.modal-chart-type
            %a.js-test-line-chart(data-dismiss="modal" data-type="Line" href="#")
              %img(src="images/line-chart-small.jpg")
              = $I18N->msg( 'line' )
          %span.modal-chart-type
            %a.js-test-bar-chart(data-dismiss="modal" data-type="Bar" href="#")
              %img(src="images/bar-chart-small.jpg")
              = $I18N->msg( 'bar' )
          %span.modal-chart-type
            %a(data-dismiss="modal" data-type="Radar" href="#")
              %img(src="images/radar-chart-small.jpg")
              = $I18N->msg( 'radar' )

        %hr
        %div
          %strong
            = $I18N->msg( 'total-pageviews' )
          %span.modal-chart-type
            %a.js-test-pie-chart(data-dismiss="modal" data-type="Pie" href="#")
              %img(src="images/pie-chart-small.jpg")
              = $I18N->msg( 'pie' )
          %span.modal-chart-type
            %a(data-dismiss="modal" data-type="Doughnut" href="#")
              %img(src="images/doughnut-chart-small.jpg")
              = $I18N->msg( 'doughnut' )
          %span.modal-chart-type
            %a(data-dismiss="modal" data-type="PolarArea" href="#")
              %img(src="images/polararea-chart-small.jpg")
              = $I18N->msg( 'polar-area' )

      %div.modal-footer
        %button.btn.btn-default(data-dismiss="modal" type="button")
          = $I18N->msg( 'cancel' )

%div.modal.fade#settings-modal(role="dialog" tabindex="-1")
  %div.modal-dialog(role="document")
    %div.modal-content
      %div.modal-header
        %button(arialabel="Close" class="close" data-dismiss="modal" type="button")
          %span(ariahidden="true") &times;
        %h4.modal-title
          = $I18N->msg( 'settings' )

      %form.modal-body
        %p
          = $I18N->msg( 'settings-notice' )
        %fieldset.radio-list
          = $I18N->msg( 'search-method' )
          %div.radio
            %label
              %input.js-test-prefixsearch(name="autocomplete" type="radio" value="autocomplete")
              = $I18N->msg( 'autocompletion' );

          %div.radio
            %label
              %input.js-test-opensearch(name="autocomplete" type="radio" value="autocomplete_redirects")
              = $I18N->msg( 'autocompletion-redirects' );

          %div.radio
            %label
              %input(name="autocomplete" type="radio" value="no_autocomplete")
              = $I18N->msg( 'no-autocompletion' )

        %fieldset
          = $I18N->msg( 'other-options' )
          %div.checkbox
            %label
              %input.js-test-format-numbers(name="numericalFormatting" type="checkbox")
              = $I18N->msg( 'format-numbers' )

          %div.checkbox
            %label
              %input.js-test-localize-dates(name="localizeDateFormat" type="checkbox")
              = $I18N->msg( 'localize-dates' )

      %div.modal-footer
        %button.btn.btn-default.cancel-settings-btn(data-dismiss="modal" type="button")
          = $I18N->msg( 'cancel' )
        %button.btn.btn-primary.save-settings-btn(data-dismiss="modal" type="button")
          = $I18N->msg( 'save' )
