/ Pageviews Comparison tool
/ Original code forked from https://gist.github.com/marcelrf/49738d14116fd547fe6d courtesy of marcelrf
/ Copyright 2016 MusikAnimal
/ Redistributed under the MIT License: https://opensource.org/licenses/MIT
!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: 'yes', name: 'apple-mobile-web-app-capable'}
    %meta{content: 'black-translucent', name: 'apple-mobile-web-app-status-bar-style'}
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0', name: 'viewport'}
    %title Pageviews Analysis
    %link{rel: "stylesheet", href: "application.css"}
    %script{src: "application.js"}

  %body
    %div.container
      %div.col-lg-offset-2
        / Header
        %header.row.aqs-row
          %div.col-lg-10.text-center
            %h4
              %strong
                Pageviews Analysis

        / Site notice
        %div.col-lg-10.text-center.site-notice-wrapper
          %div.site-notice

        %div.row.aqs-row.options
          / Date range selector
          %div.col-lg-4
            %label{for: "range-input"} Dates
            %span.date-latest
              Latest
              %a{href: '#', "data-value": '10'} 10
              %a{href: '#', "data-value": '20'} 20
              %a{href: '#', "data-value": '30'} 30
              %a{href: '#', "data-value": '60'} 60
              %a{href: '#', "data-value": '90'} 90
              days
            %input#range-input.form-control.aqs-date-range-selector

          /  Project selector
          .col-lg-2
            %label{for: "project-input"} Project
            %input#project-input.form-control.aqs-project-input{placeholder: "en.wikipedia.org"}/

          / Advanced options
          .col-lg-2
            %label{for: "platform-select"} Platform
            %select#platform-select.form-control
              %option{value: "all-access"} All
              %option{value: "desktop"} Desktop
              %option{value: "mobile-app"} Mobile app
              %option{value: "mobile-web"} Mobile web
          .col-lg-2
            %label{for: "agent-select"} Agent
            %select#agent-select.form-control
              %option{value: "all-agents"} All
              %option{selected: "selected", value: "user"} User
              %option{value: "spider"} Spider
              %option{value: "bot"} Bot

        / Article selector
        .row.aqs-row
          .col-lg-10
            %label{for: "article-input"} Pages
            / Button trigger modal
            / %a.pull-right{href: "#", "data-toggle": "modal", "data-target": "#import-modal"}
            /   Import
            %select#article-input.aqs-article-selector.col-lg-12{multiple: "multiple"}

        / Chart
        .chart-container.col-lg-10.loading
          .ad-block-notice.text-center
            Chart not appearing? Please ensure you have all ad blockers disabled or have
            %span.mono /pageviews/*
            whitelisted.
          %canvas.aqs-chart

        / Legend
        #chart-legend.col-lg-10

        / Other links
        .col-lg-10.data-links
          %a{href: "#", "data-toggle": "modal", "data-target": "#chart-type-modal"} Change chart type
          &bullet;
          Download as
          %a.download-csv{href: "#"} CSV
          \&middot;
          %a.download-json{href: "#"} JSON

        %footer.col-lg-10
          %span
            Brought to you by
            %a{href: "https://en.wikipedia.org/wiki/User:MusikAnimal"} MusikAnimal
            and
            = succeed "." do
              %a{href: "https://wikimediafoundation.org/wiki/User:Mforns_(WMF)"} Marcel Ruiz Forns
          %span.nowrap
            Hosted with
            %span.heart &hearts;
            on
            = succeed "." do
              %a{href: "https://wikitech.wikimedia.org/wiki/Portal:Tool_Labs"} Tool Labs
          %div
            %a{href: "/pageviews/faq"} FAQ
            &middot;
            %a{href: "https://github.com/MusikAnimal/pageviews"} View source
            &middot;
            %a{href: "https://github.com/MusikAnimal/pageviews/issues"} Report an issue

        / Modals
        / #import-modal.modal.fade{role: "dialog", tabindex: "-1"}
        /   .modal-dialog
        /     .modal-content
        /       .modal-header
        /         %button.close{"arialabel": "Close", "datadismiss": "modal", type: "button"}
        /           %span{"ariahidden": "true"} &times;
        /         %h4.modal-title Import list
        /       .modal-body
        /         %p
        /           You can import a list of articles defined on a wiki page or copy and paste them here.
        /           %br
        /           %a{href: "https://en.wikipedia.org/User:MusikAnimal/My article creations"} See example
        /         %label{for: "wiki_input"} Wiki page
        /         %input.form-control#wiki_input{placeholder: "Enter page name or URL"}/
        /         %hr/
        /         %label{for: "list_input"} List of pages
        /         %textarea.form-control#list_input{placeholder: "Enter page names or URLs, one per line"}
        /       .modal-footer
        /         %button.btn.btn-default{"datadismiss": "modal", type: "button"} Cancel
        /         %button.btn.btn-primary{type: "button"} Import

        #chart-type-modal.modal.fade{role: "dialog", tabindex: "-1"}
          .modal-dialog{role: "document"}
            .modal-content
              .modal-header
                %button.close{"arialabel": "Close", "data-dismiss": "modal", type: "button"}
                  %span{"ariahidden": "true"} &times;
                %h4.modal-title Chart types
              .modal-body
                %div
                  %strong Articles by daily pageviews
                  - ['Line', 'Bar', 'Radar'].each do |type|
                    %span.modal-chart-type
                      %a{href: "#", "data-type": "#{type}", "data-dismiss": "modal"}
                        %img{src: "images/#{type.downcase}-chart-small.jpg"}
                        = type
                %hr
                %div
                  %strong Articles by total number of pageviews
                  - ['Pie', 'Doughnut', 'Polar Area'].each do |type|
                    %span.modal-chart-type
                      %a{href: "#", "data-type": "#{type.sub(/ /,'')}", "data-dismiss": "modal"}
                        %img{src: "images/#{type.downcase.sub(/ /,'')}-chart-small.jpg"}
                        = type

              .modal-footer
                %button.btn.btn-default{"data-dismiss": "modal", type: "button"} Cancel
