!!!
%html
  %head
    - include '../_head.php'
    %title
      = $I18N->msg( 'title' ) . ' – ' . $I18N->msg( 'url-structure' )
  %body
    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'title' )
          %small.app-description
            = $I18N->msg( 'url-structure' )

      %main.col-lg-10.col-lg-offset-1
        %div
          - $pageviewsLink = "<pre>//tools.wmflabs.org/pageviews?project=en.wikipedia.org&amp;pages={{FULLPAGENAMEE}}</pre>"
          - $project = "<code>en.wikipedia.org</code>"
          - $sitematrixLink = "<a href='https://meta.wikimedia.org/w/api.php?action=sitematrix&amp;formatversion=2'>" . strtolower( $I18N->msg( 'project' ) ) . "</a>"
          - $fullpageNamee = "<code>{{FULLPAGENAMEE}}</code>"
          = $I18N->msg( 'url-structure-example', array( 'variables' => array( $pageviewsLink, $project, $sitematrixLink, $fullpageNamee ), 'parsemag' => true ) )

        %div
          %h3
            = $I18N->msg( 'url-structure-parameters' )
            %small= $I18N->msg( 'url-structure-parameters-order' )
          %hr
          %dl.dl-horizontal
            - include "../url_parts/project.php"
            %dt pages
            %dd
              = $I18N->msg( 'url-structure-pages' )
              %br
              = $I18N->msg( 'url-structure-onwiki-link', array( 'variables' => array( $fullpageNamee ), 'parsemag' => true ) )
            - $defaultRange = 'latest'
            - include "../url_parts/date_ranges.php"
            - include "../url_parts/platform.php"
            - include "../url_parts/agent.php"

        %div.col-lg-12.text-center.tm
          %a(href="/pageviews")
            = $I18N->msg( 'faq-return-to', array( 'variables' => array( $I18N->msg( 'title' ) ), 'parsemag' => true ) )

        - $currentApp = "pageviews";
        - include "../_footer.php";
