!!!
%html
  %head
    - include "../../_head.php"
    %title
      = $I18N->msg( 'topviews-title' ) . ' - ' . $I18N->msg( 'faq' )
  %body(class="#{$rtl}")
    - $currentApp = 'topviews'
    - include '../../_header.php'

    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'topviews-title' )
          %small.app-description
            = $I18N->msg( 'faq' )

      %main.col-lg-10.col-lg-offset-1
        %ul.list-group
          %li.list-group-item(id="false_positive")
            %p
              %strong
                = $I18N->msg( 'faq-topviews-false-positive-title')
            %p
              = $I18N->msg( 'faq-topviews-false-positive-body1')
            %p
              = $I18N->msg( 'faq-topviews-false-positive-body2')
          - include "../../faq_parts/_old_data.php"
          - include "../../faq_parts/_todays_data.php"
          - include "../../faq_parts/_counts.php"
          - include "../../faq_parts/_feedback.php"

        %div.col-lg-12.text-center.tm
          %a(href="/topviews")
            = $I18N->msg( 'faq-return-to', array( 'variables' => array( $I18N->msg( 'topviews-title' ) ), 'parsemag' => true ) )

      - $currentApp = "topviews";
      - include "../../_footer.php";
