- require_once __DIR__ . '/../../config.php'
- $currentApp = 'topviews'
!!!
%html
  %head
    - include '../_head.php'
    %title= $I18N->msg( 'topviews-title' )
  %body(class="clearfix #{$rtl} #{$currentApp}")
    - include '../_header.php'

    %main.col-lg-8.col-lg-offset-2
      %div.text-center.site-notice-wrapper
        %div.site-notice
          - include '../_browser_check.php'

      %div.form-wrapper
        %div.row.aqs-row.options
          %div.col-lg-3.col-sm-3
            %label(for="date-type-select")
              = $I18N->msg( 'date-type' )
            %select.form-control#date-type-select
              %option(value="monthly")
                = $I18N->msg( 'monthly' )
              %option(value="daily")
                = $I18N->msg( 'daily' )
              %option(value="yearly")
                = $I18N->msg( 'yearly' )
          %div.col-lg-3.col-sm-3
            %label(for="date-input")
              = $I18N->msg( 'date' )
            %input.form-control.date-selector#date-input

          %div.col-lg-3.col-sm-3
            %label(for="project-input")
              = $I18N->msg( 'project' )
            %input.form-control.aqs-project-input#project-input(placeholder="en.wikipedia.org" spellcheck="false")

          %div.col-lg-3.col-sm-3
            %label(for="platform-select")
              = $I18N->msg( 'platform' )
            %select.form-control#platform-select
              %option(value="all-access")
                = $I18N->msg( 'all' )
              %option(value="desktop")
                = $I18N->msg( 'desktop' )
              %option(value="mobile-app")
                = $I18N->msg( 'mobile-app' )
              %option(value="mobile-web")
                = $I18N->msg( 'mobile-web' )

        %div.row
          %div.col-lg-12.topviews-toggles
            %label
              = $I18N->msg( 'excluded-pages' )
            %span.report-false-positive
              (<a href='#' data-target="#report-false-positive-modal" data-toggle="modal">#{strtolower( $I18N->msg( 'report-false-positive' ) )}</a>)
            %span.pull-right
              %label
                %input.mainspace-only-option(type="checkbox" checked="checked")
                = $I18N->msg( 'mainspace-only-option' )
            %span.pull-right.percent-mobile-wrapper
              %label
                %input.show-percent-mobile(type="checkbox")
                = $I18N->msg( 'show-mobile-percentages' )
            %select.col-lg-12#select2-input(multiple="multiple")

            /* Report false positive modal */
            %div.modal.fade#report-false-positive-modal(role="dialog" tabindex="-1")
              %div.modal-dialog(role="document")
                %div.modal-content
                  %div.modal-header
                    %button.close(aria-label="Close" data-dismiss="modal" type="button")
                      %span(aria-hidden="true") &times;
                    %h4.modal-title
                      = $I18N->msg( 'report-false-positive' )
                  %div.modal-body
                    %p
                      - $learnMoreLink = "<a href='/topviews/faq#false_positive'>" . strtolower( $I18N->msg( 'learn-more' ) ) . "</a>"
                      = $I18N->msg( 'report-false-positive-text', [ 'variables' => [ $learnMoreLink ] ] )
                    %ul.false-positive-list.list-unstyled
                  %div.modal-footer
                    %button.btn.btn-default(data-dismiss="modal" type="button")
                      = $I18N->msg( 'cancel' )
                    %button.btn.btn-primary.submit-false-positive(data-dismiss="modal" type="button")
                      = $I18N->msg( 'submit' )

            /* List false positives modal */
            %div.modal.fade#list-false-positives-modal(role="dialog" tabindex="-1")
              %div.modal-dialog(role="document")
                %div.modal-content
                  %div.modal-header
                    %button.close(aria-label="Close" data-dismiss="modal" type="button")
                      %span(aria-hidden="true") &times;
                    %h4.modal-title
                      = $I18N->msg( 'list-false-positives-heading' )
                  %div.modal-body
                    %p
                      - $learnMoreLink = "<a href='/topviews/faq#false_positive'>" . strtolower( $I18N->msg( 'learn-more' ) ) . "</a>"
                      = $I18N->msg( 'list-false-positives-text', [ 'variables' => [ $learnMoreLink ] ] )
                    %table.table.table-bordered
                      %thead
                        %tr
                          %th= $I18N->msg( 'page' )
                          %th= $I18N->msg( 'original-rank' )
                      %tbody.false-positive-list
                  %div.modal-footer
                    %button.btn.btn-primary(data-dismiss="modal" type="button")
                      = $I18N->msg( 'ok' )

        / FIXME: use flexbox and not hacky per-project workaround to make input and data links stay on the same line
        - $cols = $I18N->getLang() === 'en' || $I18N->getLang() === 'de' ? 'col-lg-6' : 'col-lg-5'
        %div(class="row search-topviews #{$cols}")
          %div.input-group
            %label.input-group-addon(for="topviews_search_field")
              = $I18N->msg( 'search' )
            %span.glyphicon.glyphicon-search.topviews-search-icon
            %input.form-control#topviews_search_field

        %div.pull-right
          - include "../_data_links.php"

        %div.data-notice
          %small.text-muted
            = $I18N->msg( 'topviews-false-positive' )
            %span.list-false-positives

      %div.message-container.col-lg-10

      %div.chart-container.col-lg-12
        %table.table.output-table
          %thead
            %tr.topview-entry
              %th= $I18N->msg( 'rank' )
              %th= $I18N->msg( 'page' )
              %th.topview-entry--edits= $I18N->msg( 'edits' )
              %th.topview-entry--editors= $I18N->msg( 'editors' )
              %th= $I18N->msg( 'pageviews' )
              %th.topview-entry--mobile= $I18N->msg( 'percent-mobile' )
          %tbody.topview-entries

      %div.col-lg-12.text-center
        %a.show-more(href="#")
          = $I18N->msg( 'show-more' )

    - include '../_footer.php'

    - include '../_modals.php'
