/ Topviews Analysis tool
/
/ Copyright 2016 MusikAnimal
/ Redistributed under the MIT License: https://opensource.org/licenses/MIT
!!!
%html
  %head
    - include "../_head.php"
    %title= $I18N->msg( 'topviews-title' )
  %body
    %div.container
      %div.col-lg-offset-2
        / Header
        %header.row.aqs-row
          %div.col-lg-10.text-center
            %h4
              %strong
                = $I18N->msg( 'topviews-title' )

        / Site notice
        %div.col-lg-10.text-center.site-notice-wrapper
          %div.site-notice

        %div.row.aqs-row.options
          / Date range selector
          %div.col-lg-4.col-sm-4
            %label(for="range-input")
              = $I18N->msg( 'dates' )
            %input.form-control.aqs-date-range-selector#range-input

          / Project selector
          %div.col-lg-3.col-sm-4
            %label(for="project-input")
              = $I18N->msg( 'project' )
            %input.form-control.aqs-project-input#project-input(placeholder="en.wikipedia.org")

          / .col-lg-3
          / %label{for: "platform-select"} Namespace
          / %select#platform-select.form-control
          / %option{value: "all"} All
          / %option{value: "1"} Main
          / %option{value: "2"} Mobile app
          / %option{value: "3"} Mobile web
          / Advanced options
          %div.col-lg-3.col-sm-4
            %label(for="platform-select")
              = $I18N->msg( 'platform' )
            %select.form-control#platform-select
              %option(value="all-access")
                = $I18N->msg( 'all' )
              %option(value="desktop")
                = $I18N->msg( 'desktop' )
              %option(value="mobile-app")
                = $I18N->msg( 'mobile-app' )
              %option(value="mobile-web")
                = $I18N->msg( 'mobile-web' )

        / Article selector
        %div.row.aqs-row
          %div.col-lg-10
            %label(for="article-input")
              = $I18N->msg( 'excluded-pages' )
            %select.aqs-article-selector.col-lg-12#article-input(multiple="multiple")

        / Chart
        %div.chart-container.col-lg-10
        %div.col-lg-10.text-center
          %a.expand-chart(href="#")
            = $I18N->msg( 'show-more' )

        %div.message-container.col-lg-10

        / Other links
        %div.col-lg-10.data-links
          %hr
          - include "../_lang_selector.php"

        - $app = "topviews";
        - include "../_footer.php"
