/ Topviews Analysis tool
/ Copyright 2016 MusikAnimal
!!!
%html
  %head
    - include "../_head.php"
    %title= $I18N->msg( 'topviews-title' )
  %body
    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'topviews-title' )
          %small.app-description
            Most viewed pages of a project

      %main.col-lg-10.col-lg-offset-1
        / Site notice
        %div.text-center.site-notice-wrapper
          %div.site-notice
            - include "../_browser_check.php"

        %div.row.aqs-row.options
          / Date range selector
          %div.col-lg-4.col-sm-4
            %label(for="range-input")
              = $I18N->msg( 'dates' )
            %input.form-control.aqs-date-range-selector#range-input

          / Project selector
          %div.col-lg-4.col-sm-4
            %label(for="project-input")
              = $I18N->msg( 'project' )
            %input.form-control.aqs-project-input#project-input(placeholder="en.wikipedia.org")

          %div.col-lg-4.col-sm-4
            %label(for="platform-select")
              = $I18N->msg( 'platform' )
            %select.form-control#platform-select
              %option(value="all-access")
                = $I18N->msg( 'all' )
              %option(value="desktop")
                = $I18N->msg( 'desktop' )
              %option(value="mobile-app")
                = $I18N->msg( 'mobile-app' )
              %option(value="mobile-web")
                = $I18N->msg( 'mobile-web' )

        / Article selector
        %div.row.aqs-row
          %div.col-lg-12
            %label(for="article-input")
              = $I18N->msg( 'excluded-pages' )
            %select.aqs-article-selector.col-lg-12#article-input(multiple="multiple")

        / Chart
        %div.col-lg-12
          %small.text-warning
            = $I18N->msg( 'topviews-data-approx' )
            = $I18N->msg( 'topviews-false-positive' )
        %div.chart-container.col-lg-12.loading

        %div.col-lg-12.text-center
          %a.expand-chart(href="#")
            = $I18N->msg( 'show-more' )

        %div.message-container.col-lg-10

        / Other links
        %div.col-lg-10.data-links

        - $currentApp = "topviews";
        - include "../_footer.php"
