!!!
%html
  %head
    - include "../../_head.php"
    %title
      = $I18N->msg( 'topviews-title' ) . ' – ' . $I18N->msg( 'url-structure' )
  %body.clearfix
    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'topviews-title' )
          %small.app-description
            = $I18N->msg( 'url-structure' )

      %main.col-lg-10.col-lg-offset-1
        %div
          - $topviewsLink = "<pre>//tools.wmflabs.org/topviews?project=en.wikipedia.org</pre>"
          - $project = "<code>en.wikipedia.org</code>"
          - $sitematrixLink = "<a href='https://meta.wikimedia.org/w/api.php?action=sitematrix&amp;formatversion=2'>" . strtolower( $I18N->msg( 'project' ) ) . "</a>"
          - $excludes = "<code>excludes</code>"
          = $I18N->msg( 'url-structure-topviews-example', array( 'variables' => array( $topviewsLink, $project, $sitematrixLink, $excludes ), 'parsemag' => true ) )

        %div
          %h3
            = $I18N->msg( 'url-structure-parameters' )
            %small= $I18N->msg( 'url-structure-parameters-order' )
          %hr
          %dl.dl-horizontal
            - include "../../url_parts/_project.php"
            %dt excludes
            %dd
              = $I18N->msg( 'url-structure-excludes' )

            %dt date
            %dd
              = $I18N->msg( 'url-structure-topviews-date', array( 'variables' => array( '<code>date</code>' ), 'parsemag' => true ) )
              %ul.special-ranges
                %li
                  %code last-month
                  = $I18N->msg( 'last-month' ) . " (" . strtolower( $I18N->msg( 'default' ) ) . ")"
                %li
                  %code yesterday
                %li
                  = $I18N->msg( 'url-structure-topviews-date-month', array( 'variables' => array( '<code>YYYY-MM</code>' ), 'parsemag' => true ) )
                %li
                  = $I18N->msg( 'url-structure-topviews-date-day', array( 'variables' => array( '<code>YYYY-MM-DD</code>' ), 'parsemag' => true ) )

            - include "../../url_parts/_platform.php"

        %div.col-lg-12.text-center.tm
          %a(href="/topviews")
            = $I18N->msg( 'faq-return-to', array( 'variables' => array( $I18N->msg( 'topviews-title' ) ), 'parsemag' => true ) )

      - $currentApp = "topviews";
      - include "../../_footer.php";
