!!!
%html
  %head
    - include "../../_head.php"
    %title
      = $I18N->msg( 'topviews-title' ) . ' – ' . $I18N->msg( 'url-structure' )
  %body
    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'topviews-title' )
          %small.app-description
            = $I18N->msg( 'url-structure' )

      %main.col-lg-10.col-lg-offset-1
        %div
          - $topviewsLink = "<pre>//tools.wmflabs.org/topviews?project=en.wikipedia.org</pre>"
          - $project = "<code>en.wikipedia.org</code>"
          - $sitematrixLink = "<a href='https://meta.wikimedia.org/w/api.php?action=sitematrix&amp;formatversion=2'>" . strtolower( $I18N->msg( 'project' ) ) . "</a>"
          - $excludes = "<code>excludes</code>"
          = $I18N->msg( 'url-structure-topviews-example', array( 'variables' => array( $topviewsLink, $project, $sitematrixLink, $excludes ), 'parsemag' => true ) )

        %div
          %h3
            = $I18N->msg( 'url-structure-parameters' )
            %small= $I18N->msg( 'url-structure-parameters-order' )
          %hr
          %dl.dl-horizontal
            - include "../../url_parts/project.php"
            %dt excludes
            %dd
              = $I18N->msg( 'url-structure-excludes' )
            - $defaultRange = 'last-week'
            - include "../../url_parts/date_ranges.php"
            - include "../../url_parts/platform.php"

        %div.col-lg-12.text-center.tm
          %a(href="/topviews")
            = $I18N->msg( 'faq-return-to', array( 'variables' => array( $I18N->msg( 'topviews-title' ) ), 'parsemag' => true ) )

        - $currentApp = "topviews";
        - include "../../_footer.php";
