/ Siteviews Analysis tool
/ Copyright 2016 MusikAnimal
!!!
%html
  %head
    - include '../_head.php'
    %title= $I18N->msg( 'siteviews-title' )
  %body(class=$rtl)
    %div.container
      %header.col-lg-10.col-lg-offset-1.text-center
        %h4
          %strong
            = $I18N->msg( 'siteviews-title' )
          %small.app-description
            Analysis of total pageviews across multiple projects

      %main.col-lg-10.col-lg-offset-1
        / Site notice
        %div.text-center.site-notice-wrapper
          %div.site-notice
            - include "../_browser_check.php"

        %div.row.aqs-row.options
          / Date range selector
          %div.col-lg-5.col-sm-5
            %label(for="range-input")
              = $I18N->msg( 'dates' )
            %span.date-latest
              :php
                $days = array(10, 20, 30, 60, 90);
                $dayLinks = '';
                foreach ( $days as $day ) {
                  $dayLinks .= " <a data-value='{$day}' href='#'>{$day}</a>";
                }
              = $I18N->msg( 'latest-days', array( 'variables' => array( $dayLinks ) ) )
            %input.form-control.aqs-date-range-selector#range-input

          / Advanced options
          %div.col-lg-3.col-sm-3
            %label(for="data-source-select")
              Data source
            %select.form-control#data-source-select
              %option(value="pageviews")
                Pageviews
              %option(value="unique-devices")
                Unique devices

          %div.col-lg-2.col-sm-2
            %label(for="platform-select")
              = $I18N->msg( 'platform' )
            %select.form-control#platform-select
              %option(value="all-access" data-value="all-access" data-ud-value="all-sites")
                = $I18N->msg( 'all' )
              %option(value="desktop" data-value="desktop" data-ud-value="desktop-site")
                = $I18N->msg( 'desktop' )
              %option.platform-select--mobile-web(value="mobile-app")
                = $I18N->msg( 'mobile-app' )
              %option(value="mobile-web" data-value="mobile-web" data-ud-value="mobile-site")
                = $I18N->msg( 'mobile-web' )

          %div.col-lg-2.col-sm-2
            %label(for="agent-select")
              = $I18N->msg( 'agent' )
              %a.agents-help-link(href="/siteviews/faq#agents")
                %span.glyphicon.glyphicon-question-sign
            %select.form-control#agent-select
              %option(value="all-agents")
                = $I18N->msg( 'all' )
              %option(selected="selected" value="user")
                = $I18N->msg( 'user' )
              %option(value="spider")
                = $I18N->msg( 'spider' )
              %option(value="bot")
                = $I18N->msg( 'bot' )

        / Site selector
        %div.row.aqs-row
          %div.col-lg-12
            %label(for="site-input")
              = $I18N->msg( 'projects' )
            %select.aqs-site-selector.col-lg-12#site-input(multiple="multiple")

        / Chart
        %div.chart-container.col-lg-12.loading
          %canvas.aqs-chart

        %div.message-container.col-lg-12

        / Legend
        %div.col-lg-12.tm.clearfix#chart-legend

        / Other links
        %div.col-lg-12.data-links
          %a.js-test-change-chart(data-target="#chart-type-modal" data-toggle="modal" href="#")<
            %span.glyphicon.glyphicon-th
            = $I18N->msg( 'change-chart' )
          &nbsp;&bullet;&nbsp;
          %a.js-test-settings(data-target="#settings-modal" data-toggle="modal" href="#")<
            %span.glyphicon.glyphicon-wrench
            = $I18N->msg( 'settings' )
          &nbsp;&bullet;&nbsp;
          %a.permalink(href="#")<
            %span.glyphicon.glyphicon-link
            = $I18N->msg( 'permalink' )
          &nbsp;&bullet;&nbsp;
          %span.glyphicon.glyphicon-download-alt
          - $csvlink = "<a class='download-csv' href='#'>" . $I18N->msg( 'csv' ) . "</a>"
          = $I18N->msg( 'download', array( 'variables' => array( $csvlink ), 'parsemag' => true ) )
          &middot;
          %a.download-json(href="#")<
            = $I18N->msg( 'json' )

        - $currentApp = "siteviews"
        - include "../_footer.php"

      - include "../_modals.php"
