- require_once __DIR__ . '/../../config.php'
- $currentApp = 'siteviews'
!!!
%html
  %head
    - include '../_head.php'
    %title= $I18N->msg( 'siteviews-title' )
  %body(class="clearfix #{$rtl} #{$currentApp}")
    %div.text-center.site-notice-wrapper
      %div.site-notice
        - include '../_browser_check.php'

    - include '../_header.php'

    %aside.col-lg-2.col-md-2.page-selector
      %header.text-center
        %h4
          = $I18N->msg( 'options' )
      %div.page-selector--container
        %div.date-selector
          %label(for="range-input")
            = $I18N->msg( 'dates' )
          %div.btn-group.dropdown.latest-group
            %button.btn.btn-default.btn-xs.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              %span.latest-text
                = $I18N->msg( 'latest' )
              %span.caret
            %ul.dropdown-menu.dropdown-menu-right.date-latest
              - foreach ([10, 20, 30, 60, 90] as $offset)
                %li
                  %a(href="#" data-value="#{$offset}")= $offset
          %input.form-control.date-range-selector#range-input
        %div.month-selector.input-daterange.clearfix
          %label(for="month-start")
            = $I18N->msg( 'dates' )
          %div
            %input.form-control.input-control.month-selector-start.pull-left#month-start
            %input.form-control.input-control.month-selector-end.pull-left#month-end
        %div
          %label(for="date-type-select")
            = $I18N->msg( 'date-type' )
          %select.form-control#date-type-select
            %option(value="daily")
              = $I18N->msg( 'daily' )
            %option(value="monthly")
              = $I18N->msg( 'monthly' )
        %div
          %label(for="data-source-select")
            = $I18N->msg( 'metric' )
            %a.help-link(href="/siteviews/faq#metric")
              %span.glyphicon.glyphicon-question-sign
          %select.form-control#data-source-select
            %option(value="pageviews")
              = $I18N->msg( 'pageviews' )
            %option(value="unique-devices")
              = $I18N->msg( 'unique-devices' )
            %option(value="pagecounts")
              = $I18N->msg( 'pagecounts-legacy' )
        %div
          %label(for="platform-select")
            = $I18N->msg( 'platform' )
          %select.form-control#platform-select
            %option(value="all-access" data-value="all-access" data-ud-value="all-sites")
              = $I18N->msg( 'all' )
            %option(value="desktop" data-value="desktop" data-ud-value="desktop-site")
              = $I18N->msg( 'desktop' )
            %option.platform-select--mobile-app(value="mobile-app")
              = $I18N->msg( 'mobile-app' )
            %option.platform-select--mobile-web(value="mobile-web")
              = $I18N->msg( 'mobile-web' )
            %option.platform-select--mobile.none(data-ud-value="mobile-site")
              = $I18N->msg( 'mobile' )
        %div
          %label(for="agent-select")
            = $I18N->msg( 'agent' )
            %a.help-link(href="/siteviews/faq#agents")
              %span.glyphicon.glyphicon-question-sign
          %select.form-control#agent-select
            %option(value="all-agents")
              = $I18N->msg( 'all' )
            %option(selected="selected" value="user")
              = $I18N->msg( 'user' )
            %option(value="spider")
              = $I18N->msg( 'spider' )
        %div.all-projects-selector
          %label
            = $I18N->msg( 'query-for' )
          %div.radio
            %label
              %input.all-projects-radio(type="radio" name="all-projects" value="0" checked="checked")
                = $I18N->msg( 'individual-projects' )
          %div.radio
            %label
              %input.all-projects-radio#all-projects(type="radio" name="all-projects" value="1")
                = $I18N->msg( 'all-projects' )

    %main.col-lg-8.col-md-10
      / Site selector
      %div.site-selector
        %label(for="site-input")
          = $I18N->msg( 'projects' )
          %small.text-muted.num-entities-info
            = $I18N->msg( 'num-projects-info', [ 'variables' => [ 10 ] ] )
        %span.clear-pages.pull-right
          &#x2715;
          = $I18N->msg( 'clear' )
        %select.aqs-select2-selector.col-lg-12.invisible#site-input(multiple="multiple")

      - include "../_data_links.php"

      / Chart
      %div.chart-container
        %canvas#chart

      %div.message-container.col-lg-12

    %aside.col-lg-2.visible-lg-block.summary-column
      %header.text-center
        %h4
          = $I18N->msg( 'totals' )
      %div.summary-column--container
        %div.chart-legend.col-lg-12.clearfix

    %div.output.col-lg-10.col-lg-offset-1
      %h4.single-site-stats.text-center
      %h5.single-site-ranking.text-center
      %div.single-site-legend.hidden-lg.col-md-4.col-md-offset-4.tm
      :php
        $columns = array(
          'label' => 'project',
          'sum' => 'views',
          'average' => 'daily-average',
          'pages' => 'pages',
          'edits' => 'edits',
          'images' => 'images',
          'users' => 'users',
          'active-users' => 'active-users',
          'admins' => 'admins'
        );
      %div.table-view--wrapper
        %table.table.table-hover.table-view
          %thead.table-view--header
            %tr
              %th
              - foreach( $columns as $column => $translation )
                %th(class="table-view--#{$column}")
                  %span(class="sort-link sort-link--#{$column}" data-type="#{$column}")
                    %span.col-heading
                      = $I18N->msg( $translation )
                    %span.glyphicon.glyphicon-sort
              %th
                %span
                  = $I18N->msg( 'links' )
          %tbody.output-list

    - include '../_footer.php'

    - include '../_modals.php'
