!!!
%html
  %head
    - include '../../_head.php'
    %title
      = $I18N->msg( 'siteviews-title' ) . ' – ' . $I18N->msg( 'url-structure' )

  %body
    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'siteviews-title' )
          %small.app-description
            = $I18N->msg( 'url-structure' )

      %main.col-lg-10.col-lg-offset-1
        %div
          - $siteviewsLink = "<pre>//tools.wmflabs.org/siteviews#sites={{SERVERNAME}}</pre>"
          = $I18N->msg( 'url-structure-example-siteviews', array( 'variables' => array( $siteviewsLink ), 'parsemag' => true ) )

        %div
          %h3
            = $I18N->msg( 'url-structure-parameters' )
            %small= $I18N->msg( 'url-structure-parameters-order' )
          %hr
          %dl.dl-horizontal
            %dt sites
            %dd
              - $sitematrixLink = "<a href='https://meta.wikimedia.org/w/api.php?action=sitematrix&amp;formatversion=2'>" . strtolower( $I18N->msg( 'projects' ) ) . "</a>"
              = $I18N->msg( 'url-structure-projects', array( 'variables' => array( $sitematrixLink, '<code>de.wikipedia.org|fr.wikipedia.org</code>' ), 'parsemag' => true ) )
            - $defaultRange = 'latest'
            - include "../../url_parts/date_ranges.php"
            %dt source
            %dd
              = $I18N->msg( 'url-structure-source', array( 'variables' => array( '<code>pageviews</code>', '<code>unique-devices</code>' ), 'parsemag' => true ) )
            - include "../../url_parts/platform.php"
            - include "../../url_parts/agent.php"
            - include "../../url_parts/autolog.php"

        %div.col-lg-12.text-center.tm
          %a(href="/siteviews")
            = $I18N->msg( 'faq-return-to', array( 'variables' => array( $I18N->msg( 'siteviews-title' ) ), 'parsemag' => true ) )

        - $currentApp = "siteviews";
        -include "../../_footer.php";
