!!!
%html
  %head
    - include '../../_head.php'
    %title
      = $I18N->msg( 'siteviews-title' ) . ' – ' . $I18N->msg( 'url-structure' )

  %body
    %div.container
      %div.col-lg-offset-2
        / Header
        %header.row.aqs-row
          %div.col-lg-10.text-center
            %h4
              %strong= $I18N->msg( 'siteviews-title' ) . ' – ' . $I18N->msg( 'url-structure' )

        %div.col-lg-10
          - $pageviewsLink = "<pre>//tools.wmflabs.org/siteviews#sites={{SERVERNAME}}</pre>"
          = $I18N->msg( 'url-structure-example-siteviews', array( 'variables' => array( $pageviewsLink, $project, $sitematrixLink, $fullpageNamee ), 'parsemag' => true ) )

        %div.col-lg-10
          %h3
            = $I18N->msg( 'url-structure-parameters' )
            %small= $I18N->msg( 'url-structure-parameters-order' )
          %hr
          %dl.dl-horizontal
            %dt sites
            %dd
              - $sitematrixLink = "<a href='https://meta.wikimedia.org/w/api.php?action=sitematrix&amp;formatversion=2'>" . strtolower( $I18N->msg( 'projects' ) ) . "</a>"
              = $I18N->msg( 'url-structure-projects', array( 'variables' => array( $sitematrixLink, '<code>de.wikipedia.org|fr.wikipedia.org</code>' ), 'parsemag' => true ) )
            %dt range
            %dd
              = $I18N->msg( 'url-structure-special-range', array( 'variables' => array( '<code>start</code>', '<code>end</code>' ), 'parsemag' => true ) )
              %ul.special-ranges
                %li
                  %code latest
                  = "(" . strtolower( $I18N->msg( 'default' ) ) . ")"
                  = $I18N->msg( 'url-structure-special-range-latest' )
                %li
                  %code latest-<i>N</i>
                  = $I18N->msg( 'url-structure-special-range-latest-n' )
                %li
                  %code last-week
                  = $I18N->msg( 'last-week' )
                %li
                  %code this-month
                  = $I18N->msg( 'this-month' )
                %li
                  %code last-month
                  = $I18N->msg( 'last-month' )
            %dt start
            %dd
              = $I18N->msg( 'url-structure-start-date', array( 'variables' => array( '<code>YYYY-MM-DD</code>', '<code>end</code>' ), 'parsemag' => true ) )
            %dt end
            %dd
              = $I18N->msg( 'url-structure-end-date', array( 'variables' => array( '<code>YYYY-MM-DD</code>' ), 'parsemag' => true ) )
            %dt platform
            %dd
              = $I18N->msg( 'url-structure-platform', array( 'variables' => array( '<code>all-access</code> (' . strtolower( $I18N->msg( 'default' ) ) . ')', '<code>desktop</code>', '<code>mobile-app</code>', '<code>mobile-web</code>' ), 'parsemag' => true ) )
            %dt agent
            %dd
              = $I18N->msg( 'url-structure-agent', array( 'variables' => array( '<code>user</code>', '<code>spider</code>', '<code>bot</code>', '<code>all-agents</code>' ), 'parsemag' => true ) )

        %div.col-lg-10.text-center
          %hr
          %a(href="/siteviews")
            = $I18N->msg( 'faq-return-to', array( 'variables' => array( $I18N->msg( 'siteviews-title' ) ), 'parsemag' => true ) )

        - $app = "siteviews";
        -include "../../_footer.php";
