- require_once __DIR__ . '/../../../config.php'
- $currentApp = 'siteviews'
!!!
%html
  %head
    - include '../../_head.php'
    %title
      = $I18N->msg( 'siteviews-title' ) . ' – ' . $I18N->msg( 'url-structure' )
  %body(class="#{$rtl}")
    - include '../../_header.php'

    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'siteviews-title' )
          %small.app-description
            = $I18N->msg( 'url-structure' )

      %main.col-lg-10.col-lg-offset-1
        %div
          - $siteviewsLink = "<pre dir='ltr' class='url-structure-example'>https://pageviews.toolforge.org/siteviews?sites={{SERVERNAME}}</pre>"
          = $I18N->msg( 'url-structure-example-siteviews', [ 'variables' => [ $siteviewsLink ], 'parsemag' => true ] )

        %div
          %h3
            = $I18N->msg( 'url-structure-parameters' )
            %small= $I18N->msg( 'url-structure-parameters-order' )
          %hr
          %dl.dl-horizontal
            %dt sites
            %dd
              - $sitematrixLink = "<a href='https://meta.wikimedia.org/w/api.php?action=sitematrix&amp;formatversion=2'>" . strtolower( $I18N->msg( 'projects' ) ) . "</a>"
              = $I18N->msg( 'url-structure-projects', [ 'variables' => [ $sitematrixLink, '<code>de.wikipedia.org|fr.wikipedia.org</code>' ], 'parsemag' => true ] )
            - $defaultRange = 'latest'
            - include "../../url_parts/_date_ranges.php"
            %dt source
            %dd
              = $I18N->msg( 'url-structure-source', [ 'variables' => [ '<code>pageviews</code>', '<code>unique-devices</code>' ], 'parsemag' => true ] )
            %dt platform
            %dd
              %p
                %i
                  = $I18N->msg( 'url-structure-siteviews-platform', [ 'variables' => [ 'source', '<code>pageviews</code>' ] ] ) . ':'
                %br
                - $values = [ '<code>all-access</code> ' . $defaultMsg, '<code>desktop</code>', '<code>mobile-app</code>', '<code>mobile-web</code>' ];
                = generateListMessage( $values )
              %p
                %i
                  = $I18N->msg( 'url-structure-siteviews-platform-no-pageviews', [ 'variables' => [ 'source', '<code>unique-devices</code>', '<code>pagecounts</code>' ] ] ) . ':'
                %br
                - $values = [ '<code>all-sites</code> ' . $defaultMsg, '<code>desktop-site</code>', '<code>mobile-site</code>' ]
                = generateListMessage( $values )
            - include "../../url_parts/_agent.php"
            - include "../../url_parts/_autolog.php"
            - include "../../url_parts/_mute_validations.php"

        %div.col-lg-12.text-center.tm
          %a(href="/siteviews")
            = $I18N->msg( 'faq-return-to', [ 'variables' => [ $I18N->msg( 'siteviews-title' ) ], 'parsemag' => true ] )

      -include "../../_footer.php";
