<!-- Date selector -->
<div class="date-selector">
	<label for="range-input">
		{{ msg( 'dates' ) }}
	</label>
	<div class="btn-group dropdown latest-group pull-right">
		<button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="latest-text">
				{{ msg( 'latest-days', [ latest_days ] ) }}
			</span>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right date-latest">
			{% for offset in [ 10, 20, 30, 60, 90, 180, 365 ] %}
				<li>
					<a href="#" data-value="{{ offset }}">
						{{ offset }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<input class="form-control date-range-selector" id="range-input" />
</div>

<!-- Month selector -->
<div class="month-selector input-daterange clearfix">
	<label for="month-start">
		{{ msg( 'dates' ) }}
	</label>
	<div>
		<input class="form-control input-control month-selector-start pull-left" id="month-start" readonly="readonly" />
		<input class="form-control input-control month-selector-end pull-left" id="month-end" readonly="readonly" />
	</div>
</div>

<!-- Date type selector -->
<div>
	<label for="date-type-select">
		{{ msg( 'date-type' ) }}
	</label>
	<select class="form-control" id="date-type-select">
		<option value="daily">
			{{ msg( 'daily' ) }}
		</option>
		<option value="monthly">
			{{ msg( 'monthly' ) }}
		</option>
	</select>
</div>
