<!-- Chart type modal -->
<div class="modal fade" id="chart-type-modal" role="dialog" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" aria-label="Close" data-dismiss="modal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{{ msg( 'chart-types' ) }}</h4>
			</div>
			<div class="modal-body">
				<div>
					<strong class="multi-page-chart-node">{{ msg( 'daily-pageviews' ) }}</strong>
					<span class="modal-chart-type">
						<a data-dismiss="modal" data-type="line" href="#">
							<img src="{{ asset( 'images/line-chart-small.jpg' ) }}" alt="{{ msg( 'line' ) }}" />
							{{ msg( 'line' ) }}
						</a>
					</span>
					<span class="modal-chart-type">
						<a data-dismiss="modal" data-type="bar" href="#">
							<img src="{{ asset( 'images/bar-chart-small.jpg' ) }}" alt="{{ msg( 'bar' ) }}" />
							{{ msg( 'bar' ) }}
						</a>
					</span>
					<span class="modal-chart-type">
						<a data-dismiss="modal" data-type="radar" href="#">
							<img src="{{ asset( 'images/radar-chart-small.jpg' ) }}" alt="{{ msg( 'radar' ) }}" />
							{{ msg( 'radar' ) }}
						</a>
					</span>
				</div>
				<div class="multi-page-chart-node">
					<hr/>
					<div>
						<strong>{{ msg( 'total-pageviews' ) }}</strong>
						<span class="modal-chart-type">
							<a data-dismiss="modal" data-type="pie" href="#">
								<img src="{{ asset( 'images/pie-chart-small.jpg' ) }}" alt="{{ msg( 'pie' ) }}" />
								{{ msg( 'pie' ) }}
							</a>
						</span>
						<span class="modal-chart-type">
							<a data-dismiss="modal" data-type="doughnut" href="#">
								<img src="{{ asset( 'images/doughnut-chart-small.jpg' ) }}" alt="{{ msg( 'doughnut' ) }}" />
								{{ msg( 'doughnut' ) }}
							</a>
						</span>
						<span class="modal-chart-type">
							<a data-dismiss="modal" data-type="polarArea" href="#">
								<img src="{{ asset( 'images/polararea-chart-small.jpg' ) }}" alt="{{ msg( 'polar-area' ) }}" />
								{{ msg( 'polar-area' ) }}
							</a>
						</span>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal" type="button">{{ msg( 'cancel' ) }}</button>
			</div>
		</div>
	</div>
</div>

<!-- Settings modal -->
<div class="modal fade settings-modal" id="settings-modal" role="dialog" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-label="Close" class="close" data-dismiss="modal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{{ msg( 'settings' ) }}</h4>
			</div>
			<form class="modal-body">
				<p>{{ msg( 'settings-notice' ) }}</p>
				<fieldset>
					<div class="checkbox">
						<label>
							<input name="alwaysRedirects" type="checkbox">
							{{ msg( 'always-include-redirects' ) }}
						</label>
					</div>
				</fieldset>
				<fieldset class="radio-list search-method-options">
					{{ msg( 'search-method' ) }}
					<div class="radio">
						<label>
							<input name="autocomplete" type="radio" value="autocomplete">
							{{ msg( 'autocompletion' ) }}
						</label>
					</div>
					<div class="radio">
						<label>
							<input name="autocomplete" type="radio" value="autocomplete_redirects">
							{{ msg( 'autocompletion-redirects' ) }}
						</label>
					</div>
					<div class="radio">
						<label>
							<input name="autocomplete" type="radio" value="no_autocomplete">
							{{ msg( 'no-autocompletion' ) }}
						</label>
					</div>
				</fieldset>
				<fieldset>
					{{ msg( 'localization' ) }}
					<div class="checkbox">
						<label>
							<input name="numericalFormatting" type="checkbox">
							{{ msg( 'format-numbers' ) }}
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input name="localizeDateFormat" type="checkbox">
							{{ msg( 'localize-dates' ) }}
						</label>
					</div>
				</fieldset>
				<fieldset class="chart-specific">
					{{ msg( 'chart-preferences' ) }}
					<div class="checkbox">
						<label>
							<input name="autoLogDetection" type="checkbox">
							{{ msg( 'autolog-option' ) }}
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input name="beginAtZero" type="checkbox">
							{{ msg( 'begin-at-zero-option' ) }}
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input name="rememberChart" type="checkbox">
							{{ msg( 'remember-chart-option' ) }}
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input name="bezierCurve" type="checkbox">
							{{ msg( 'bezier-curve-option' ) }}
						</label>
					</div>
				</fieldset>
			</form>
			<div class="modal-footer">
				<button class="btn btn-default cancel-settings-btn" data-dismiss="modal" type="button">{{ msg( 'cancel' ) }}</button>
				<button class="btn btn-primary save-settings-btn" data-dismiss="modal" type="button">{{ msg( 'save' ) }}</button>
			</div>
		</div>
	</div>
</div>
