<!DOCTYPE html>
<html lang="{{ lang() }}">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{{ msg( current_app == 'pageviews' ? 'title' : current_app ~ '-title' ) }}{% endblock %}</title>
	<link rel="icon" href="{{ asset( 'images/favicon.ico' ) }}">
	{% block stylesheets %}
	{% endblock %}

	{% block javascripts %}
		{% block importmap %}{{ importmap('app') }}{% endblock %}
		<script>
			window.i18nLang = "{{ lang() }}";
			window.i18nPath = "{{ asset( 'i18n/' ~ lang() ~ '.json' ) }}";
			window.i18nEnPath = "{{ asset( 'i18n/en.json' ) }}";
		</script>
	{% endblock %}
</head>
<body {%- if is_rtl() %}class="rtl"{% endif %}>
{% block header %}
	<header class="app-header">
		<h4>
			{{ msg( current_app == 'pageviews' ? 'title' : current_app ~ '-title' ) }}
			<small class="app-description">
				{% block subtitle %}
					{{ msg( current_app ~ '-description' ) }}
				{% endblock %}
			</small>
		</h4>
	</header>
{% endblock %}

{% block body %}{% endblock %}

<footer class="app-footer">
	<span>
		{% set musikanimal %}
			<a target="_blank" href="https://en.wikipedia.org/wiki/User:MusikAnimal">MusikAnimal</a>
		{%- endset %}
		{% set others %}
			<a target="_blank" href="https://github.com/wikimedia/pageviews/graphs/contributors">
					{{ msg( 'credits-other-contributors' ) -}}
				</a>
		{%- endset %}
		{{ msg( 'credits-msg', [ musikanimal, others ] ) }}
	</span>

	<div>
		<span>
			{% set heart %}
				<span class='heart'>&hearts;</span>
			{% endset %}
			{% set host %}
				<a href='https://wikitech.wikimedia.org/wiki/Help:Cloud_Services_introduction'>{{ msg( 'wmcs' ) }}</a>
			{%- endset %}
			{{ msg( 'hosted', [ heart, host ] ) }}
		</span>
		<span>
				{% set translateWiki %}
					<a href='https://translatewiki.net/'>translatewiki.net</a>
				{%- endset %}
			{% set bananaI18n %}
				<a href='https://www.npmjs.com/package/banana-i18n'>banana-i18n</a>
			{%- endset %}
			{% set intuition %}
				<a href='https://intuition.toolforge.org#tab-about'>Intuition</a>
			{%- endset %}
			{{ msg( 'translation-credits', [ translateWiki, bananaI18n, intuition ] ) }}
		</span>
	</div>

	<div>
		{% if app != 'metaviews' %}
			<a href="{{ path( current_app ~ '/faq' ) }}">{{ msg( 'faq' ) }}</a>
			&middot;
			<a href="{{ path( current_app ~ '/url_structure' ) }}">{{ msg( 'url-structure' ) }}</a>
			&middot;
		{% endif %}
		<a href="https://github.com/MusikAnimal/pageviews">{{ msg( 'view-source' ) }}</a>
		&middot;
		<a href="https://meta.wikimedia.org/wiki/Talk:Pageviews_Analysis">{{ msg( 'report-issue' ) }}</a>
	</div>
</footer>
</body>
</html>
