<!DOCTYPE html>
<html lang="{{ lang() }}">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{{ msg( current_app == 'pageviews' ? 'title' : current_app ~ '-title' ) }}{% endblock %}</title>
	<link rel="icon" href="{{ asset( 'images/favicon.ico' ) }}">
	{% block stylesheets %}
	{% endblock %}

	{% block javascripts %}
		{% block importmap %}{{ importmap('app') }}{% endblock %}
		<script>
			window.i18nLang = "{{ lang() }}";
			window.i18nPath = "{{ asset( 'i18n/' ~ lang() ~ '.json' ) }}";
			window.i18nEnPath = "{{ asset( 'i18n/en.json' ) }}";
		</script>
	{% endblock %}
</head>
<body class="{% if is_rtl() %}rtl{% endif %} initial">
	<nav class="top-nav navbar">
		<button class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target=".interapp-navigation" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="pull-right nav-buttons">
			{% block settings %}
				<button class="btn btn-default btn-sm btn-settings" data-target="#settings-modal" data-toggle="modal">
					<span class="glyphicon glyphicon-wrench"></span>
					{{ msg( 'settings' ) }}
				</button>
			{% endblock %}

			<div class="btn-group dropdown help-btn-group">
				<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="glyphicon glyphicon-question-sign"></span>
					{{ msg( 'help' ) }}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					{% if current_app != 'metaviews' %}
						<li>
							<a href="{{ path( current_app ~ '/faq' ) }}">{{ msg( 'faq' ) }}</a>
						</li>
					{% endif %}
					<li>
						<a href="{{ path( current_app ~ '/url_structure' ) }}">{{ msg( 'url-structure' ) }}</a>
					</li>
					<li>
						<a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Pageviews_Analysis">
							{{ msg( 'documentation' ) }}
						</a>
					</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="https://meta.wikimedia.org/wiki/Talk:Pageviews_Analysis">
							{{ msg( 'report-issue' ) }}
						</a>
					</li>
				</ul>
			</div>

			<div class="btn-group dropdown lang-group">
				<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z"></path>
					</svg>
					{{ lang_name() }}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li>
						<a href="https://translatewiki.net/w/i.php?title=Special:MessageGroupStats&group=out-pageviews" target="_blank">
							{{ msg( 'help-translate' ) }}
						</a>
					</li>
					<li class="divider" role="separator"></li>
					{% for code, name in all_langs() %}
						{% if code != 'qqq' %}
							<li {% if code == lang() %}class="active"{% endif %}>
								<a href="{{ path( 'set_language', { 'language': code } ) }}">{{ name }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="navbar-collapse collapse interapp-navigation">
			<a class="home-link pull-left" href="{{ path( 'pageviews' ) }}"></a>
			<ol class="interapp-links nav navbar-nav navbar-left">
				{% for app in [ 'pageviews', 'langviews', 'topviews', 'siteviews', 'massviews', 'redirectviews', 'userviews', 'mediaviews' ] %}
					<li class="interapp-links--entry{% if current_app == app %} active{% endif %}" role="presentation">
						<a class="interapp-link interapp-link--{{ app }}" href="{{ path( app ) }}">
							{{ msg( app ) }}
						</a>
					</li>
				{% endfor %}
				<li class="interapp-links--more dropdown hidden">
					<a class="interapp-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						{{ msg( 'more' ) }}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu"></ul>
				</li>
			</ol>
		</div>
	</nav>
	{% block header %}
		<header class="site-header">
			<h4 class="text-center">
				<strong>
					{{ msg( current_app == 'pageviews' ? 'title' : current_app ~ '-title' ) }}
				</strong>
				<small class="app-description">
					{{ msg( current_app ~ '-description' ) }}
				</small>
			</h4>
		</header>
	{% endblock %}

	{% block body %}{% endblock %}

	<div class="spacer"></div>

	<footer class="site-footer text-center">
		<hr/>
		<span>
			{% set musikanimal %}
				<a target="_blank" href="https://en.wikipedia.org/wiki/User:MusikAnimal">MusikAnimal</a>
			{%- endset %}
			{% set kaldari %}
				<a target="_blank" href="https://en.wikipedia.org/wiki/User:Kaldari">Kaldari</a>
			{%- endset %}
			{% set marcel %}
				<a target="_blank" href="https://en.wikipedia.org/wiki/User:Mforns_(WMF)">Marcel Ruiz Forns</a>
			{%- endset %}
			{{ msg( 'credits', [ musikanimal, kaldari, marcel ] ) }}
		</span>

		<div>
			<span class="nowrap">
				{% set heart %}
					<span class='heart'>&hearts;</span>
				{% endset %}
				{% set host %}
					<a href='https://wikitech.wikimedia.org/wiki/Help:Cloud_Services_introduction'>{{ msg( 'wmcs' ) }}</a>
				{%- endset %}
				{{ msg( 'hosted', [ heart, host ] ) }}
			</span>
			<span class="nowrap">
				{% set translateWiki %}
					<a href='https://translatewiki.net/'>translatewiki.net</a>
				{%- endset %}
				{% set jqueryI18n %}
					<a href='https://github.com/wikimedia/jquery.i18n'>jQuery.i18n</a>
				{%- endset %}
				{% set intuition %}
					<a href='https://intuition.toolforge.org#tab-about'>Intuition</a>
				{%- endset %}
				{{ msg( 'translation-credits', [ translateWiki, jqueryI18n, intuition ] ) }}
			</span>
		</div>

		<div>
			{% if app != 'metaviews' %}
				<a href="{{ path( current_app ~ '/faq' ) }}">{{ msg( 'faq' ) }}</a>
				&middot;
				<a href="{{ path( current_app ~ '/url_structure' ) }}">{{ msg( 'url-structure' ) }}</a>
				&middot;
			{% endif %}
			<a href="https://github.com/MusikAnimal/pageviews">{{ msg( 'view-source' ) }}</a>
			&middot;
			<a href="https://meta.wikimedia.org/wiki/Talk:Pageviews_Analysis">{{ msg( 'report-issue' ) }}</a>
		</div>
	</footer>
</body>
</html>
