<!DOCTYPE html>
<html lang="{{ lang() }}">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{{ msg( current_app == 'pageviews' ? 'title' : current_app ~ '-title' ) }}{% endblock %}</title>
	<link rel="icon" href="{{ asset( 'images/favicon.ico' ) }}">
	{% block stylesheets %}
	{% endblock %}

	{% block javascripts %}
		{% block importmap %}{{ importmap('app') }}{% endblock %}
		<script>
			window.i18nLang = "{{ lang() }}";
			window.i18nPath = "{{ asset( 'i18n/' ~ lang() ~ '.json' ) }}";
			window.i18nEnPath = "{{ asset( 'i18n/en.json' ) }}";
		</script>
	{% endblock %}
</head>
<body class="{% if is_rtl() %}rtl{% endif %}">
	
</body>
</html>
