{% extends 'base.html.twig' %}

{% block importmap %}
	{{ importmap( 'langviews' ) }}
{% endblock %}

{% block body %}

	<form id="pv_form">
		<div class="row aqs-row options">
			<!-- Date range selector -->
			<div class="col-lg-3 col-sm-4">
				<label for="range-input">
					{{ msg( 'dates' ) }}
				</label>
				<input class="form-control date-range-selector" id="range-input" />
			</div>

			<!-- Project selector -->
			<div class="col-lg-3 col-sm-3">
				<label for="project-input">
					{{ msg( 'source-project' ) }}
				</label>
				<input class="form-control" id="project-input" placeholder="en.wikipedia.org" required="required" spellcheck="false" />
			</div>

			<!-- Advanced options -->
			<div class="col-lg-3 col-sm-3">
				<label for="platform-select">
					{{ msg( 'platform' ) }}
				</label>
				<select class="form-control" id="platform-select">
					<option value="all-access">{{ msg( 'all' ) }}</option>
					<option value="desktop">{{ msg( 'desktop' ) }}</option>
					<option value="mobile-app">{{ msg( 'mobile-app' ) }}</option>
					<option value="mobile-web">{{ msg( 'mobile-web' ) }}</option>
				</select>
			</div>

			<div class="col-lg-3 col-sm-2">
				<label for="agent-select">
					{{ msg( 'agent' ) }}
					<a class="help-link" href="/langviews/faq#agents">
						<span class="glyphicon glyphicon-question-sign"></span>
					</a>
				</label>
				<select class="form-control" id="agent-select">
					<option value="all-agents">{{ msg( 'all' ) }}</option>
					<option selected="selected" value="user">{{ msg( 'user' ) }}</option>
					<option value="spider">{{ msg( 'spider' ) }}</option>
					<option value="automated">{{ msg( 'automated' ) }}</option>
				</select>
			</div>
		</div>

		<!-- Article URL input -->
		<div class="row aqs-row article-input-row">
			<div class="col-lg-12">
				<label for="source-input">
					{{ msg( 'page' ) }}
				</label>
				<div class="input-group">
					<input class="form-control input-control" id="source-input" placeholder="Star Wars" required="required" autocomplete="off" />
					<span class="input-group-btn">
						<button class="btn btn-primary btn-submit pull-right">
							{{ msg( 'submit' ) }}
						</button>
					</span>
				</div>
			</div>
		</div>

		{% set columns = {
			'lang': 'language',
			'title': 'page-title',
			'badges': 'badges',
			'views': 'pageviews'
		} %}
	</form>

	{# Legacy include: ../_output.php #}
{% endblock %}
