%li.list-group-item(id="agents")
  %p
    %strong= $I18N->msg( 'faq-agents-title' )
  %ul.faq-ul
    %li
      %i= $I18N->msg( 'user' )
      = $I18N->msg( 'faq-agents-user' )
    %li
      %i= $I18N->msg( 'spider' )
      = $I18N->msg( 'faq-agents-spider' )
    %li
      %i= $I18N->msg( 'automated' )
      = $I18N->msg( 'faq-agents-automated' )
