/ Langviews Analysis tool
/ Copyright 2016 MusikAnimal
!!!
%html
  %head
    - include '../_head.php'
    %title= $I18N->msg( 'langviews-title' )
  %body
    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'langviews-title' )
          %small.app-description
            = $I18N->msg( 'langviews-description' )

      %main.col-lg-10.col-lg-offset-1
        / Site notice
        %div.text-center.site-notice-wrapper
          %div.site-notice
            - include "../_browser_check.php"

        %form#langviews_form
          %div.row.aqs-row.options
            / Date range selector
            %div.col-lg-3.col-sm-4
              %label(for="range_input")
                = $I18N->msg( 'dates' )
              %input.form-control.aqs-date-range-selector#range_input

            / Project selector
            %div.col-lg-3.col-sm-3
              %label(for="project_input")
                = $I18N->msg( 'source-project' )
              %input.form-control#project_input(placeholder="en.wikipedia.org" required="required")

            / Advanced options
            %div.col-lg-3.col-sm-3
              %label(for="platform_select")
                = $I18N->msg( 'platform' )
              %select.form-control#platform_select
                %option(value="all-access")
                  = $I18N->msg( 'all' )
                %option(value="desktop")
                  = $I18N->msg( 'desktop' )
                %option(value="mobile-app")
                  = $I18N->msg( 'mobile-app' )
                %option(value="mobile-web")
                  = $I18N->msg( 'mobile-web' )

            %div.col-lg-3.col-sm-2
              %label(for="agent_select")
                = $I18N->msg( 'agent' )
                %a.help-link(href="/langviews/faq#agents")
                  %span.glyphicon.glyphicon-question-sign
              %select.form-control#agent_select
                %option(value="all-agents")
                  = $I18N->msg( 'all' )
                %option(selected="selected" value="user")
                  = $I18N->msg( 'user' )
                %option(value="spider")
                  = $I18N->msg( 'spider' )
                %option(value="bot")
                  = $I18N->msg( 'bot' )

          / Article URL input
          %div.row.aqs-row.article-input-row
            %div.col-lg-12
              %label(for="article_input")
                = $I18N->msg( 'page' )
              %div.input-group
                %input.form-control.input-control#article_input(placeholder="Star Wars" required="required" autocomplete="off")
                %span.input-group-btn
                  %button.btn.btn-primary.pull-right#article_submit
                    = $I18N->msg( 'submit' )

        %div.col-lg-5.col-sm-8.center-block.progress-bar--wrapper
          %div.progress
            %div.progress-bar.progress-bar-striped.active(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%")
          %div.progress-text.text-center

        %output(form="langviews_form")
          %header.output-header
            %strong.another-query
              %span.glyphicon.glyphicon-chevron-left
              = $I18N->msg( 'another-query' )
            %h2.tm
              %a.langviews-page-name(target="_blank")
              %small.langviews-params

          %table.table.table-hover.output-table
            %thead
              %tr
                %th #
                %th
                  %span.sort-link.sort-link--lang(data-type='lang')
                    = $I18N->msg( 'language' )
                    %span.glyphicon.glyphicon-sort
                %th
                  %span.sort-link.sort-link--title(data-type='title')
                    = $I18N->msg( 'page-title' )
                    %span.glyphicon.glyphicon-sort
                %th
                  %span.sort-link.sort-link--badges(data-type='badges')
                    = $I18N->msg( 'badges' )
                    %span.glyphicon.glyphicon-sort
                %th
                  %span.sort-link.sort-link--views(data-type='views')
                    = $I18N->msg( 'pageviews' )
                    %span.glyphicon.glyphicon-sort
                %th
                  %span
                    = $I18N->msg( 'average' )
              %tr.output-totals
            %tbody#lang_list

        %div.message-container.col-lg-12

        / Other links
        %div.col-lg-12.data-links
          %a.permalink(href="/massviews")<
            %span.glyphicon.glyphicon-link
            = $I18N->msg( 'permalink' )
          &nbsp;&bullet;&nbsp;
          %span.glyphicon.glyphicon-download-alt
          - $csvlink = "<a class='download-csv' href='#'>" . $I18N->msg( 'csv' ) . "</a>"
          = $I18N->msg( 'download', array( 'variables' => array( $csvlink ), 'parsemag' => true ) )
          &middot;
          %a.download-json(href="#")<
            = $I18N->msg( 'json' )

          %span.elapsed-time.pull-right

        - $currentApp = "langviews"
        - include "../_footer.php"
