- require_once __DIR__ . '/../../config.php'
- $currentApp = 'langviews'
!!!
%html
  %head
    - include '../_head.php'
    %title= $I18N->msg( 'langviews-title' )
  %body(class="clearfix #{$rtl} #{$currentApp}")
    - include '../_header.php'

    %main.col-lg-8.col-lg-offset-2
      / Site notice
      %div.text-center.site-notice-wrapper
        %div.site-notice
          - include "../_browser_check.php"

      %form#pv_form
        %div.row.aqs-row.options
          / Date range selector
          %div.col-lg-3.col-sm-4
            %label(for="range-input")
              = $I18N->msg( 'dates' )
            %input.form-control.date-range-selector#range-input

          / Project selector
          %div.col-lg-3.col-sm-3
            %label(for="project-input")
              = $I18N->msg( 'source-project' )
            %input.form-control#project-input(placeholder="en.wikipedia.org" required="required" spellcheck="false")

          / Advanced options
          %div.col-lg-3.col-sm-3
            %label(for="platform-select")
              = $I18N->msg( 'platform' )
            %select.form-control#platform-select
              %option(value="all-access")
                = $I18N->msg( 'all' )
              %option(value="desktop")
                = $I18N->msg( 'desktop' )
              %option(value="mobile-app")
                = $I18N->msg( 'mobile-app' )
              %option(value="mobile-web")
                = $I18N->msg( 'mobile-web' )

          %div.col-lg-3.col-sm-2
            %label(for="agent-select")
              = $I18N->msg( 'agent' )
              %a.help-link(href="/langviews/faq#agents")
                %span.glyphicon.glyphicon-question-sign
            %select.form-control#agent-select
              %option(value="all-agents")
                = $I18N->msg( 'all' )
              %option(selected="selected" value="user")
                = $I18N->msg( 'user' )
              %option(value="spider")
                = $I18N->msg( 'spider' )

        / Article URL input
        %div.row.aqs-row.article-input-row
          %div.col-lg-12
            %label(for="source-input")
              = $I18N->msg( 'page' )
            %div.input-group
              %input.form-control.input-control#source-input(placeholder="Star Wars" required="required" autocomplete="off")
              %span.input-group-btn
                %button.btn.btn-primary.btn-submit.pull-right
                  = $I18N->msg( 'submit' )

        :php
          $columns = array(
            'lang' => 'language',
            'title' => 'page-title',
            'badges' => 'badges',
            'views' => 'pageviews'
          );
      - include '../_output.php'

    - include '../_footer.php'

    - include '../_modals.php'
