!!!
%html
  %head
    - include '../../_head.php'
    %title
      = $I18N->msg( 'langviews-title' ) . ' – ' . $I18N->msg( 'url-structure' )

  %body
    %div.container
      %div.col-lg-offset-2
        / Header
        %header.row.aqs-row
          %div.col-lg-10.text-center
            %h4
              %strong= $I18N->msg( 'langviews-title' ) . ' – ' . $I18N->msg( 'url-structure' )

        %div.col-lg-10
          - $langviewsLink = "<pre>//tools.wmflabs.org/langviews?project=en.wikipedia.org&amp;pages={{FULLPAGENAMEE}}</pre>"
          - $project = "<code>en.wikipedia.org</code>"
          - $sitematrixLink = "<a href='https://meta.wikimedia.org/w/api.php?action=sitematrix&amp;formatversion=2'>" . strtolower( $I18N->msg( 'project' ) ) . "</a>"
          - $fullpageNamee = "<code>{{FULLPAGENAMEE}}</code>"
          = $I18N->msg( 'url-structure-example', array( 'variables' => array( $langviewsLink, $project, $sitematrixLink, $fullpageNamee ), 'parsemag' => true ) )

        %div.col-lg-10
          %h3
            = $I18N->msg( 'url-structure-parameters' )
            %small= $I18N->msg( 'url-structure-parameters-order' )
          %hr
          %dl.dl-horizontal
            %dt project
            %dd
              - $defaultProject = "<code>en.wikipedia.org</code> (" . strtolower( $I18N->msg( 'default' ) ) . ") "
              = $I18N->msg( 'url-structure-project', array( 'variables' => array( $defaultProject, $sitematrixLink ), 'parsemag' => true ) )
              %br
              - $wikipediaLink = "<a href='https://www.wikipedia.org/'>Wikipedia</a>"
              - $wikivoyageLink = "<a href='https://www.wikivoyage.org/'>Wikivoyage</a>"
              = $I18N->msg( 'url-structure-project-multilang', array( 'variables' => array( $wikipediaLink, $wikivoyageLink ), 'parsemag' => true ) )
            %dt page
            %dd
              = $I18N->msg( 'url-structure-page' )
              = $I18N->msg( 'url-structure-onwiki-link', array( 'variables' => array( $fullpageNamee ), 'parsemag' => true ) )
            %dt range
            %dd
              = $I18N->msg( 'url-structure-special-range', array( 'variables' => array( '<code>start</code>', '<code>end</code>' ), 'parsemag' => true ) )
              %ul.special-ranges
                %li
                  %code latest
                  = "(" . strtolower( $I18N->msg( 'default' ) ) . ")"
                  = $I18N->msg( 'url-structure-special-range-latest' )
                %li
                  %code latest-<i>N</i>
                  = $I18N->msg( 'url-structure-special-range-latest-n' )
                %li
                  %code last-week
                  = $I18N->msg( 'last-week' )
                %li
                  %code this-month
                  = $I18N->msg( 'this-month' )
                %li
                  %code last-month
                  = $I18N->msg( 'last-month' )
            %dt start
            %dd
              = $I18N->msg( 'url-structure-start-date', array( 'variables' => array( '<code>YYYY-MM-DD</code>' ), 'parsemag' => true ) )
            %dt end
            %dd
              = $I18N->msg( 'url-structure-end-date', array( 'variables' => array( '<code>YYYY-MM-DD</code>' ), 'parsemag' => true ) )
            %dt platform
            %dd
              = $I18N->msg( 'url-structure-platform', array( 'variables' => array( '<code>all-access</code> (' . strtolower( $I18N->msg( 'default' ) ) . ')', '<code>desktop</code>', '<code>mobile-app</code>', '<code>mobile-web</code>' ), 'parsemag' => true ) )
            %dt agent
            %dd
              = $I18N->msg( 'url-structure-agent', array( 'variables' => array( '<code>user</code>', '<code>spider</code>', '<code>bot</code>', '<code>all-agents</code>' ), 'parsemag' => true ) )
            %dt sort
            %dd
              = $I18N->msg( 'url-structure-sort', array( 'variables' => array( '<code>lang</code>', '<code>title</code>', '<code>badges</code>', '<code>views</code>' ), 'parsemag' => true ) )
            %dt direction
            %dd
              = $I18N->msg( 'url-structure-sort-direction', array( 'variables' => array( '<code>1</code>', '<code>-1</code>' ), 'parsemag' => true ) )

        %div.col-lg-10.text-center.tm
          %a(href="/langviews")
            = $I18N->msg( 'faq-return-to', array( 'variables' => array( $I18N->msg( 'langviews-title' ) ), 'parsemag' => true ) )

        - $currentApp = "langviews";
        -include "../../_footer.php";
