- require_once __DIR__ . '/../../../config.php'
- $currentApp = 'langviews'
!!!
%html
  %head
    - include '../../_head.php'
    %title
      = $I18N->msg( 'langviews-title' ) . ' – ' . $I18N->msg( 'url-structure' )
  %body(class="#{$rtl}")
    - include '../../_header.php'

    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'langviews-title' )
          %small.app-description
            = $I18N->msg( 'url-structure' )

      %main.col-lg-10.col-lg-offset-1
        %div
          - $langviewsLink = "<pre dir='ltr' class='url-structure-example'>//tools.wmflabs.org/langviews?project=en.wikipedia.org&amp;pages={{FULLPAGENAMEE}}</pre>"
          - $project = "<code>en.wikipedia.org</code>"
          - $sitematrixLink = "<a href='https://meta.wikimedia.org/w/api.php?action=sitematrix&amp;formatversion=2'>" . strtolower( $I18N->msg( 'project' ) ) . "</a>"
          - $fullpageNamee = "<code>{{FULLPAGENAMEE}}</code>"
          = $I18N->msg( 'url-structure-example', array( 'variables' => array( $langviewsLink, $project, $sitematrixLink, $fullpageNamee ), 'parsemag' => true ) )

        %div
          %h3
            = $I18N->msg( 'url-structure-parameters' )
            %small= $I18N->msg( 'url-structure-parameters-order' )
          %hr
          %dl.dl-horizontal
            %dt project
            %dd
              - $defaultProject = "<code>en.wikipedia.org</code> (" . strtolower( $I18N->msg( 'default' ) ) . ") "
              = $I18N->msg( 'url-structure-project', array( 'variables' => array( $defaultProject, $sitematrixLink ), 'parsemag' => true ) )
              %br
              - $wikipediaLink = "<a href='https://www.wikipedia.org/'>Wikipedia</a>"
              - $wikivoyageLink = "<a href='https://www.wikivoyage.org/'>Wikivoyage</a>"
              = $I18N->msg( 'url-structure-project-multilang', array( 'variables' => array( $wikipediaLink, $wikivoyageLink ), 'parsemag' => true ) )
            %dt page
            %dd
              = $I18N->msg( 'url-structure-page' )
              = $I18N->msg( 'url-structure-onwiki-link', array( 'variables' => array( $fullpageNamee ), 'parsemag' => true ) )
            - $defaultRange = 'latest'
            - include "../../url_parts/_date_ranges.php"
            - include "../../url_parts/_platform.php"
            - include "../../url_parts/_agent.php"
            %dt sort
            %dd
              - $values = [ '<code>lang</code>', '<code>title</code>', '<code>badges</code>', '<code>views</code>' ]
              = $I18N->msg( 'url-structure-sort' ) . ' ' . generateListMessage( $values )
            %dt direction
            %dd
              = $I18N->msg( 'url-structure-sort-direction', array( 'variables' => array( '<code>1</code>', '<code>-1</code>' ), 'parsemag' => true ) )
            - include "../../url_parts/_autolog.php"
            - include "../../url_parts/_mute_validations.php"

        %div.col-lg-12.text-center.tm
          %a(href="/langviews")
            = $I18N->msg( 'faq-return-to', array( 'variables' => array( $I18N->msg( 'langviews-title' ) ), 'parsemag' => true ) )

      -include "../../_footer.php";
