<li class="list-group-item" id="agents">
	<p>
		<strong>{{ msg('faq-agents-title') }}</strong>
	</p>
	<ul class="faq-ul">
		<li>
			<i>{{ msg('user') }}</i>
			{{ msg('faq-agents-user') }}
		</li>
		<li>
			<i>{{ msg('spider') }}</i>
			{{ msg('faq-agents-spider') }}
		</li>
		<li>
			<i>{{ msg('automated') }}</i>
			{{ msg('faq-agents-automated') }}
		</li>
	</ul>
</li>
