{% set redirectsOption = msg( 'include-redirects' ) %}
{% set redirectViewsLink %}
	<a href="{{ path( 'redirectviews' ) }}">{{ msg( 'redirectviews' ) }}</a>
{%- endset %}
<li class="list-group-item" id="redirects">
	<p>
		<strong>{{ msg( 'faq-redirects-title' ) }}</strong>
	</p>
	<p>{{ msg( 'faq-redirects-body', [redirectViewsLink, redirectsOption] ) }}</p>
	<p>{{ msg( 'faq-redirects-body2', [redirectsOption] ) }}</p>
</li>
