{% set default_msg = '(' ~ msg( 'default' )|lower ~ ')' %}

<dt>range</dt>
<dd>
	{{ msg( 'url-structure-special-range', [ '<code>start</code>', '<code>end</code>' ] )|raw }}
	<ul class="special-ranges">
		<li>
			<code>latest</code>
			{{ default_range == 'latest' ? default_msg : '' }}
			{{ msg( 'url-structure-special-range-latest' ) }}
		</li>
		<li>
			<code>latest-<i>N</i></code>
			{{ msg( 'url-structure-special-range-latest-n' ) }}
		</li>
		<li>
			<code>current</code>
			{{ msg( 'url-structure-current' ) }}
		</li>
		<li>
			<code>this-week</code>
			{{ default_range == 'this-week' ? default_msg : '' }}
			{{ msg( 'this-week' ) }}
		</li>
		<li>
			<code>last-week</code>
			{{ default_range == 'last-week' ? default_msg : '' }}
			{{ msg( 'last-week' ) }}
		</li>
		<li>
			<code>this-month</code>
			{{ default_range == 'this-month' ? default_msg : '' }}
			{{ msg( 'this-month' ) }}
		</li>
		<li>
			<code>last-month</code>
			{{ default_range == 'last-month' ? default_msg : '' }}
			{{ msg( 'last-month' ) }}
		</li>
		<li>
			<code>this-year</code>
			{{ default_range == 'this-year' ? default_msg : '' }}
			{{ msg( 'this-year' ) }}
		</li>
		<li>
			<code>last-year</code>
			{{ default_range == 'last-year' ? default_msg : '' }}
			{{ msg( 'last-year' ) }}
		</li>
		<li>
			<code>all-time</code>
			{{ msg( 'all-time' ) }}
		</li>
	</ul>
</dd>
<dt>start</dt>
<dd>
	{{ msg( 'url-structure-start-date', [ '<code>YYYY-MM-DD</code>', '<code>end</code>' ] )|raw }}
	{% if current_app in [ 'pageviews', 'siteviews', 'mediaviews' ] %}
		<br>
		{{ msg( 'url-structure-start-month', [ '<code>YYYY-MM</code>' ] )|raw }}
		<br>
		{{ msg( 'url-structure-start-date-earliest', [ '<code>earliest</code>' ] )|raw }}
	{% endif %}
</dd>
<dt>end</dt>
<dd>
	{{ msg( 'url-structure-end-date', [ '<code>YYYY-MM-DD</code>' ] )|raw }}
	{% if current_app in [ 'pageviews', 'siteviews', 'mediaviews' ] %}
		<br>
		{{ msg( 'url-structure-end-month', [ '<code>YYYY-MM</code>' ] )|raw }}
		<br>
		{{ msg( 'url-structure-end-date-latest', [ '<code>latest</code>' ] )|raw }}
	{% endif %}
</dd>
